include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'Cliente-Servidor',url:'/pillars/docs/tutorials/client-server.jade'}];
	+tutorial-layout("Pillars.js Tutorials - Envío de datos de Cliente a Servidor - 'make it easy!'",path)

		#title
			h1 Datos Cliente-Servidor
				em  Pillars.js Tutorials
		

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				Las dos formas en las que se pueden enviar datos del cliente al servidor son: 

				+ Query String. *(El conocido GET)*
				+ Contenido de la solicitud. *(El conocido POST)*
				
				En el protocolo HTTP existen varios [métodos de petición](http://es.wikipedia.org/wiki/Hypertext_Transfer_Protocol#M.C3.A9todos_de_petici.C3.B3n), en concreto 8, aunque usualmente se han usado en el desarrollo sólo GET y POST.



		//- Examples
		section.examples
			h2#examples Ejemplos

			//- Example
			section.example
				h3#example-1 QUERY STRING
				:markdown
					El código fuente de este ejemplo está en ....
					método de la solicitud: GET


				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 CONTENIDO DE LA SOLICITUD
				:markdown
					método de la solicitud: POST - PUT

				:highlight(lang='javascript')
					require("pillars").start();


			


		

