include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'Instalación',url:'/pillars/docs/tutorials/instalacion.jade'}];
	+tutorial-layout("Pillars.js Tutorials - Instalación - 'make it easy!'",path)

		#title
			h1 Instalación
				em  Tutoriales Pillars.js

		:markdown
			Lipsum
			
		section.instalacion
			h2#node Instalación Node.js

			:markdown
				Lipsum 
			.msg.msg-icon.bg-alert Estamos completando la referencia. ¡Disculpa las molestias!. Síguenos en las redes sociales para estar al tanto de las actualizaciones de la documentación. 


		section.instalacion
			h2#mongo Instalación MongoDB

			:markdown
				Lipsum
			.msg.msg-icon.bg-alert Estamos completando la referencia. ¡Disculpa las molestias!. Síguenos en las redes sociales para estar al tanto de las actualizaciones de la documentación. 

		section.instalacion
			h2#pillars Instalación Pillars.js

			:markdown
				Lipsum

			.msg.msg-icon.bg-alert Estamos completando la referencia. ¡Disculpa las molestias!. Síguenos en las redes sociales para estar al tanto de las actualizaciones de la documentación. 

			:markdown
				---
				**Fichero package.json**

			:highlight(lang='javascript')
				{
				  "dependencies": {
				  		"pillars": "*"
				  }
				}

			:markdown
				---
				

			