include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'Servidor-Cliente',url:'/pillars/docs/tutorials/server-client.jade'}];
	+tutorial-layout("Pillars.js Tutorials - Envío de datos de Servidor a Cliente - 'make it easy!'",path)

		#title
			h1 Datos Servidor-Cliente
				em  Pillars.js Tutorials
		

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				El envío de datos desde el servidor al cliente se realiza dentro de un objeto route y utilizando alguno de los siguientes métodos del objeto gangway: 

				+ gw.send()
				+ gw.html()
				+ gw.text()
				+ gw.json()
				+ gw.render()
				+ gw.file()

				Todos estos métodos finalizan el objeto gangway y por supuesto establecen las cabeceras HTTP pertientes en el envío. 

				Como ya habrás leído en la Visión Global de Pillars.js, el framework es compatible con el protocolo por partes de HTTP, por lo que tenemos algunas curiosidades que contar en este tutorial ;).




		//- Examples
		section.examples
			h2#examples Ejemplos

			//- Example
			section.example
				h3#example-1 Control de Caché
				:markdown
					Tener en cuenta si el cliente ya descargó un contenido es bastante importante para **optimizar el tiempo de carga** en cliente, **peso de la respuesta** y **tiempo de proceso** en servidor.

					Para ello, antes de realizar un envío al cliente, tenemos el método gw.cacheck() que se ocupa de, dado un contenido a enviar, informarnos si el cliente tiene la versión más reciente de éste.



				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 Envío de texto plano
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 Envío de html
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 Envío de json
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 Envío de archivo pequeño
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 Envío de archivo gran tamaño
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();


			//- Example
			section.example
				h3#example-1 Video Streaming
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();

			//- Example
			section.example
				h3#example-1 Cookies
				:markdown
					El código fuente de este ejemplo está en ....

				:highlight(lang='javascript')
					require("pillars").start();

		

