.faclass {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.inputs-border {
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputs-basics {
  display: inline-block;
  vertical-align: top;
  padding: 0 1em 0 1em;
  height: 2.2em;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  white-space: nowrap;
  color: #333333;
  text-shadow: none;
  position: relative;
  margin: 0 0.5em 0.5em 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputs-box-inset {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-inset-hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-inset-focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.inputs-box-outset {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-outset-hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-outset-focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.action.field > label:before,
.bg-action.field > label:before,
.info.field > label:before,
.bg-info.field > label:before,
.ok.field > label:before,
.bg-ok.field > label:before,
.alert.field > label:before,
.bg-alert.field > label:before,
.danger.field > label:before,
.bg-danger.field > label:before,
.soft.field > label:before,
.bg-soft.field > label:before,
.action.msg-icon:before,
.bg-action.msg-icon:before,
.info.msg-icon:before,
.bg-info.msg-icon:before,
.ok.msg-icon:before,
.bg-ok.msg-icon:before,
.alert.msg-icon:before,
.bg-alert.msg-icon:before,
.danger.msg-icon:before,
.bg-danger.msg-icon:before,
.soft.msg-icon:before,
.bg-soft.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.action.field > label:before,
.bg-action.field > label:before,
.action.msg-icon:before,
.bg-action.msg-icon:before {
  content: "\f192";
}
.info.field > label:before,
.bg-info.field > label:before,
.info.msg-icon:before,
.bg-info.msg-icon:before {
  content: "\f05a";
}
.ok.field > label:before,
.bg-ok.field > label:before,
.ok.msg-icon:before,
.bg-ok.msg-icon:before {
  content: "\f058";
}
.alert.field > label:before,
.bg-alert.field > label:before,
.alert.msg-icon:before,
.bg-alert.msg-icon:before {
  content: "\f06a";
}
.danger.field > label:before,
.bg-danger.field > label:before,
.danger.msg-icon:before,
.bg-danger.msg-icon:before {
  content: "\f057";
}
.soft.field > label:before,
.bg-soft.field > label:before,
.soft.msg-icon:before,
.bg-soft.msg-icon:before {
  content: "locked";
}
.action {
  border-color: #00a8bc !important;
  color: #00d6ef !important;
}
.info {
  border-color: #77a9ad !important;
  color: #97bdc0 !important;
}
.ok {
  border-color: #3ab34b !important;
  color: #57c967 !important;
}
.alert {
  border-color: #e7a50b !important;
  color: #f5ba30 !important;
}
.danger {
  border-color: #ac2935 !important;
  color: #d03846 !important;
}
.soft {
  border-color: #bbbbbb !important;
  color: #d4d4d4 !important;
}
.bg-action,
.bg-info,
.bg-ok,
.bg-alert,
.bg-danger,
.bg-soft {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
}
.bg-action {
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
.bg-info {
  background-color: #97bdc0 !important;
  border-color: #77a9ad !important;
}
.bg-ok {
  background-color: #57c967 !important;
  border-color: #3ab34b !important;
}
.bg-alert {
  background-color: #f5ba30 !important;
  border-color: #e7a50b !important;
}
.bg-danger {
  background-color: #d03846 !important;
  border-color: #ac2935 !important;
}
.bg-soft {
  background-color: #d4d4d4 !important;
  border-color: #bbbbbb !important;
}
.msg {
  border-radius: 4px;
  padding: 0.5em;
  border: 1px solid #d4d4d4;
}
.progress {
  background-color: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0px, rgba(0, 0, 0, 0.3) 100%);
  display: block;
  position: relative;
  height: 2.2em;
  border-radius: 4px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.progress > span:first-child {
  display: block;
  background-color: inherit;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 2.2em 2.2em;
  height: 100%;
  animation: 2s linear 0s normal none infinite progressbar;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.progress > span:first-child > span:first-child {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 2.2em;
  text-align: center;
  font-weight: 700;
}
.progress > span:first-child > span:first-child .fa {
  margin-right: 0.2em;
}
.loader {
  margin-top: 0.5em;
}
.loader .msg,
.loader .progress {
  margin-bottom: 0.5em;
}
.loader .loadnext {
  display: block;
  width: 100%;
}
.loader .loading {
  text-align: center;
  font-weight: 700;
}
.loader .loading .fa-spinner {
  margin-right: 0.4em;
}
.loader .sending {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
.loader .sending.field > label:before,
.loader .sending.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.loader .sending.field > label:before,
.loader .sending.msg-icon:before {
  content: "\f192";
}
.loader .receiving {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #57c967 !important;
  border-color: #3ab34b !important;
}
.loader .receiving.field > label:before,
.loader .receiving.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.loader .receiving.field > label:before,
.loader .receiving.msg-icon:before {
  content: "\f058";
}
@keyframes progressbar {
  0% {
    background-position: 2.2em 0;
  }
  100% {
    background-position: 0 0;
  }
}
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
textarea,
button,
.button {
  display: inline-block;
  vertical-align: top;
  padding: 0 1em 0 1em;
  height: 2.2em;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  white-space: nowrap;
  color: #333333;
  text-shadow: none;
  position: relative;
  margin: 0 0.5em 0.5em 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
select:hover,
textarea:hover,
button:hover,
.button:hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
select:focus,
textarea:focus,
button:focus,
.button:focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
textarea {
  padding: 0.4em 1em 0.5em 1em;
  height: auto;
}
select {
  padding: 0;
}
select option {
  padding: 0.4em 1em 0.5em 1em;
}
.radio,
.checkbox {
  display: block;
  margin: 0 0 0.5em;
  white-space: nowrap;
  position: relative;
}
.radio > input,
.checkbox > input {
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  z-index: 1000;
  height: 2em;
  width: 2em;
  outline: 1px solid green;
  opacity: 0;
  cursor: pointer;
  font-size: 50%;
}
.radio > label,
.checkbox > label {
  font-weight: 400;
  font-size: 100%;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0 0 0.2em;
  padding: 0;
  position: relative;
  line-height: 1.3em;
}
.radio > label:after,
.checkbox > label:after {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50%;
  content: "";
  background-color: #ffffff;
  padding: 0;
  width: 2em;
  height: 2em;
  line-height: 1.9em;
  position: absolute;
  bottom: 0.4em;
  left: -2.8000000000000003em;
  text-indent: 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.radio > input:hover + label:after,
.checkbox > input:hover + label:after {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.radio > input:focus + label:after,
.checkbox > input:focus + label:after {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.radio.hidden-label > label,
.checkbox.hidden-label > label {
  margin-right: -0.5em;
  text-align: left;
  text-indent: -100000px;
  width: 0;
}
.radio > label:after {
  border-radius: 50%;
}
.radio > input:checked + label:after {
  content: "\f111";
}
.checkbox > label:after {
  border-radius: 4px;
}
.checkbox > input:checked + label:after {
  content: "\f00c";
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  font-weight: 600;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus,
.button:focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.button {
  padding-top: 0.4em;
}
label,
.label {
  font-size: 120%;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
label > .i18n-selector,
.label > .i18n-selector {
  font-size: 90%;
}
label > .i18n-selector > button,
.label > .i18n-selector > button {
  margin: 0;
}
.input {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.input .help {
  margin: 0 0.5em 0.5em 0;
  color: #a1a1a1;
  font-style: italic;
  display: block;
}
form {
  margin: 2em;
  border-color: #bbbbbb;
}
form *,
form *:after,
form *:before {
  border-color: inherit;
}
form .field {
  display: block;
  padding: 0;
  border-radius: 6px;
}
form .field > label,
form .field.label {
  display: block;
  text-align: left;
  padding: 0.5em;
}
form .field > .input {
  padding: 0.5em 0.5em 0;
}
form .form-section {
  padding: 0.5em;
}
form .form-table .field {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  background-color: transparent !important;
}
form .form-table .field.bg-action > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
form .form-table .field.bg-action > *.field > label:before,
form .form-table .field.bg-action > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field.bg-action > *.field > label:before,
form .form-table .field.bg-action > *.msg-icon:before {
  content: "\f192";
}
form .form-table .field.bg-info > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #97bdc0 !important;
  border-color: #77a9ad !important;
}
form .form-table .field.bg-info > *.field > label:before,
form .form-table .field.bg-info > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field.bg-info > *.field > label:before,
form .form-table .field.bg-info > *.msg-icon:before {
  content: "\f05a";
}
form .form-table .field.bg-ok > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #57c967 !important;
  border-color: #3ab34b !important;
}
form .form-table .field.bg-ok > *.field > label:before,
form .form-table .field.bg-ok > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field.bg-ok > *.field > label:before,
form .form-table .field.bg-ok > *.msg-icon:before {
  content: "\f058";
}
form .form-table .field.bg-alert > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #f5ba30 !important;
  border-color: #e7a50b !important;
}
form .form-table .field.bg-alert > *.field > label:before,
form .form-table .field.bg-alert > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field.bg-alert > *.field > label:before,
form .form-table .field.bg-alert > *.msg-icon:before {
  content: "\f06a";
}
form .form-table .field.bg-danger > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #d03846 !important;
  border-color: #ac2935 !important;
}
form .form-table .field.bg-danger > *.field > label:before,
form .form-table .field.bg-danger > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field.bg-danger > *.field > label:before,
form .form-table .field.bg-danger > *.msg-icon:before {
  content: "\f057";
}
form .form-table .field.bg-soft > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #d4d4d4 !important;
  border-color: #bbbbbb !important;
}
form .form-table .field.bg-soft > *.field > label:before,
form .form-table .field.bg-soft > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field.bg-soft > *.field > label:before,
form .form-table .field.bg-soft > *.msg-icon:before {
  content: "locked";
}
form .form-table .field > :first-child {
  border-radius: 4px 0 0 4px;
}
form .form-table .field > :last-child {
  border-radius: 0 4px 4px 0;
}
form .form-table .field > label,
form .form-table .field > .label {
  width: 10em;
  display: table-cell;
  padding: 0.5em;
  text-align: right;
}
form .form-table .field > .input {
  display: table-cell;
}
form .form-table .field > .input > input[type="text"],
form .form-table .field > .input > input[type="password"],
form .form-table .field > .input > select,
form .form-table .field > .input > textarea {
  display: block;
  width: 100%;
}
form .form-table .field > .input .inputaddons,
form .form-table .field > .input .lang {
  width: 100%;
}
form .form-table .field > .input .inputaddons > input[type="text"],
form .form-table .field > .input .lang > input[type="text"],
form .form-table .field > .input .inputaddons > input[type="password"],
form .form-table .field > .input .lang > input[type="password"],
form .form-table .field > .input .inputaddons > select,
form .form-table .field > .input .lang > select,
form .form-table .field > .input .inputaddons > textarea,
form .form-table .field > .input .lang > textarea {
  width: 100%;
}
form .form-table .field.fullwidth {
  display: block;
  width: auto;
}
form .form-table .field.fullwidth > :first-child {
  border-radius: 4px 4px 0 0;
}
form .form-table .field.fullwidth > :last-child {
  border-radius: 0 0 4px 4px;
}
form .form-table .field.fullwidth > label,
form .form-table .field.fullwidth > .label {
  width: auto;
  display: block;
  text-align: left;
}
form .form-table .field.fullwidth > .input {
  display: block;
}
form.form-inline,
form .form-inline {
  margin: 0;
  display: inline-block;
}
form.form-inline .field,
form .form-inline .field {
  display: inline-block;
  padding: 0;
}
form.form-inline .field > label,
form .form-inline .field > label,
form.form-inline .field > .label,
form .form-inline .field > .label {
  display: inline-block;
  padding: 0 0.5em 0 0;
  margin: 0;
  text-align: right;
  vertical-align: middle;
}
form.form-inline .field > .input,
form .form-inline .field > .input {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
form.form-inline .field .radio,
form .form-inline .field .radio,
form.form-inline .field .checkbox,
form .form-inline .field .checkbox {
  display: inline-block;
}
.inputaddons {
  display: table !important;
  border-collapse: separate;
  width: 1px;
  white-space: nowrap;
  margin: 0 0.5em 0.5em 0;
}
.inputaddons > * {
  margin: 0 !important;
  border-radius: 0 !important;
}
.inputaddons > *:first-child {
  border-radius: 4px 0 0 4px !important;
}
.inputaddons > *:last-child {
  border-radius: 0 4px 4px 0 !important;
}
.inputaddons > *:not(:first-child) {
  border-left-style: none !important;
}
.inputaddons > *:not(:first-child) > * {
  border-left-style: inherit !important;
}
.inputaddons > * > * {
  margin: 0 !important;
  width: auto !important;
  border-radius: inherit !important;
}
.inputaddons .addon {
  display: table-cell;
  width: 1%;
  padding: 0;
  vertical-align: top;
}
.inputaddons .addon > label,
.inputaddons .addon > .radio,
.inputaddons .addon > .checkbox {
  background-color: #eeeeee;
  padding: 0.4em 1em 0 1em;
  height: 2.2em;
  line-height: 1.3em;
  color: #333333;
  text-shadow: none;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputaddons .addon > .radio,
.inputaddons .addon > .checkbox {
  margin-bottom: 0;
}
.inputaddons .addon > .select > select {
  width: auto !important;
}
.inputsline {
  display: inline-block;
  border-collapse: separate;
  white-space: nowrap;
  margin: 0 0.5em 0.5em 0;
}
.inputsline > * {
  display: inline-block !important;
  border-radius: 0 !important;
  margin: 0 !important;
  vertical-align: top;
  float: left;
}
.inputsline > *:first-child {
  border-radius: 4px 0 0 4px !important;
}
.inputsline > *:last-child {
  border-radius: 0 4px 4px 0 !important;
}
.inputsline > *:not(:first-child) {
  border-left-style: none !important;
}
.inputsline > *:not(:first-child) > *,
.inputsline > *:not(:first-child):before,
.inputsline > *:not(:first-child):after {
  border-left-style: inherit !important;
}
.inputsline > * > * {
  border-radius: inherit !important;
  margin: 0 !important;
}
.inputsline > label,
.inputsline > .radio,
.inputsline > .checkbox {
  background-color: #eeeeee;
  padding: 0.4em 1em 0 1em;
  height: 2.2em;
  line-height: 1.3em;
  color: #333333;
  text-shadow: none;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputsline > .radio,
.inputsline > .checkbox {
  margin-bottom: 0;
}
.inputsline > .select {
  height: 2.2em;
  line-height: 1.3em;
}
.inputsline > .select > select {
  width: auto !important;
}
.input-msgs {
  display: block;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  margin: 0 0 1.2em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.input-msgs:after {
  content: "";
  border-width: 1px 1px 0 0;
  border-style: solid solid none none;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background-color: #ffffff;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  bottom: -8px;
  left: 10px;
  height: 14px;
  width: 14px;
  z-index: -1;
}
.input-msgs .msg:not(:last-child) {
  margin-bottom: 3px;
}
.select {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  display: block;
}
.select:before {
  border-radius: inherit;
  background-color: #ffffff;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: auto;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.select:after {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 1em 0 0;
  margin: 1px;
  background-color: transparent;
  z-index: -1;
  text-align: right;
  content: "\f078";
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  height: auto;
  width: 3em;
  line-height: 3.5em;
  font-size: 0.6em;
}
.select:hover:before {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.select select {
  border-radius: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: window;
  border-style: none;
  box-shadow: none;
  display: block !important;
  padding-left: 0.5em;
  padding-right: 2em;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
}
.select select + .select-focus {
  background-color: transparent;
  z-index: -1;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  text-indent: -100000px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.select select:focus + .select-focus {
  display: block;
}
table {
  width: auto;
  margin: 1em;
  background-color: #FFFFFF;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}
table td,
table th {
  padding: 0.4em 1em 0.5em 1em;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-style: none none solid;
}
table td {
  text-align: left;
}
table th {
  text-align: center;
  font-weight: 700;
}
table > tr:first-child > *:first-child,
table > thead > tr:first-child > *:first-child,
table > tbody:first-child > tr:first-child > *:first-child {
  border-top-left-radius: 4px;
}
table > tr:first-child > *:last-child,
table > thead > tr:first-child > *:last-child,
table > tbody:first-child > tr:first-child > *:last-child {
  border-top-right-radius: 4px;
}
table > tr:last-child > *,
table > tfoot > tr:last-child > *,
table > tbody:last-child > tr:last-child > * {
  border-bottom-style: none;
}
table > tr:last-child > *:first-child,
table > tfoot > tr:last-child > *:first-child,
table > tbody:last-child > tr:last-child > *:first-child {
  border-bottom-left-radius: 4px;
}
table > tr:last-child > *:last-child,
table > tfoot > tr:last-child > *:last-child,
table > tbody:last-child > tr:last-child > *:last-child {
  border-bottom-right-radius: 4px;
}
table > tr:nth-child(2n) > td,
table > tr:nth-child(2n) > th,
table tbody > tr:nth-child(2n) > td,
table tbody > tr:nth-child(2n) > th {
  background-color: rgba(0, 0, 0, 0.03);
}
table tbody > tr:last-child > * {
  border-bottom-style: none;
}
table thead > tr:last-child > * {
  border-bottom: 2px solid #bbbbbb;
}
table tfoot > tr:first-child > * {
  border-top: 2px solid #bbbbbb;
}
table.separate {
  border-spacing: 1px;
}
table.separate td,
table.separate th {
  border-style: solid !important;
}
.calendar .calendar-days td {
  cursor: pointer;
}
.imgbox {
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 10px;
  max-width: 100%;
  min-height: 34px;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: auto;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.imgbox img {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: block;
  max-height: 100px;
  max-width: 100%;
  width: auto;
}
.imgbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.dropdown-toggle-hover,
.dropdown-toggle {
  display: inline-block;
  position: relative;
}
.dropdown-toggle-hover > button:after,
.dropdown-toggle > button:after {
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\00a0\00a0\f078";
  display: inline-block;
  font-size: 0.6em;
  margin-left: 0.4em;
  vertical-align: middle;
}
.dropdown-toggle-hover:hover .dropdown,
.dropdown-toggle.dropdown-toggle-open .dropdown {
  display: block;
}
.dropdown.panel {
  font-size: 1em;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  width: auto;
  height: auto;
  min-width: 100%;
  padding: 0.5em;
  margin: 2px 0 0 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px !important;
  z-index: 1000;
}
.dropdown.panel:before {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  top: -3px;
  position: absolute;
  left: 0;
  right: 0;
}
.dropdown.menu,
.dropdown.menu ul {
  font-size: 1em;
  display: none;
  position: absolute;
  top: 100%;
  left: 0.5em;
  padding: 0;
  margin: 2px 0 0 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px !important;
  z-index: 1000;
}
.dropdown.menu:before,
.dropdown.menu ul:before {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  top: -3px;
  position: absolute;
  left: 0;
  right: 0;
}
.dropdown.menu:after,
.dropdown.menu ul:after {
  content: "";
  border-width: 1px 1px 0 0;
  border-style: solid solid none none;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent transparent;
  background-color: #ffffff;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  left: 10px;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.dropdown.menu li,
.dropdown.menu ul li {
  display: block;
  position: relative;
}
.dropdown.menu li > a,
.dropdown.menu ul li > a,
.dropdown.menu li > .menu-item,
.dropdown.menu ul li > .menu-item {
  display: block;
  white-space: nowrap;
  margin: 2px;
  padding: 0.2em 1em 0.2em 1em;
  color: #333333;
  border-radius: 2px;
  transition: all 0.1s linear 0s;
  cursor: pointer;
  line-height: normal;
}
.dropdown.menu li ul,
.dropdown.menu ul li ul {
  top: 0;
  left: 100%;
  margin: 0 0 0 3px;
}
.dropdown.menu li ul:before,
.dropdown.menu ul li ul:before {
  width: 3px;
  height: auto;
  top: 0;
  bottom: 0;
  left: -3px;
  right: auto;
}
.dropdown.menu li ul:after,
.dropdown.menu ul li ul:after {
  left: -6px;
  top: 12px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown.menu li:hover > ul,
.dropdown.menu ul li:hover > ul {
  display: block;
}
.dropdown.menu li:hover > a,
.dropdown.menu ul li:hover > a,
.dropdown.menu li:hover > .menu-item,
.dropdown.menu ul li:hover > .menu-item {
  background-color: #00d6ef;
  color: #FFFFFF;
}
.dropdown.menu.dropdown-right,
.dropdown.menu ul.dropdown-right {
  left: auto;
  right: 0.5em;
}
.dropdown.menu.dropdown-right:after,
.dropdown.menu ul.dropdown-right:after {
  left: auto;
  right: 10px;
}
.dropdown.menu.dropdown-right ul,
.dropdown.menu ul.dropdown-right ul {
  right: 100%;
  left: auto;
  margin: 0 3px 0 0;
}
.dropdown.menu.dropdown-right ul:before,
.dropdown.menu ul.dropdown-right ul:before {
  left: auto;
  right: -3px;
}
.dropdown.menu.dropdown-right ul:after,
.dropdown.menu ul.dropdown-right ul:after {
  left: auto;
  right: -6px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #333333;
}
#space {
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#space #top {
  display: table-row;
}
#space #top #header {
  display: table-cell;
  height: 1%;
}
#space #bottom {
  display: table;
  height: 100%;
  width: 100%;
}
#space #bottom #left {
  font-size: 1.6em;
  display: table-cell;
  position: relative;
  width: 2em;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  /*
			&:before {
				content: "";
				position: absolute;
				width: 50px;
				height: 100%;
				top: 0;
				right: -50px;
				z-index: 1000;
			}
			*/

}
#space #bottom #left #navigation {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: scroll;
}
#space #bottom #left:hover {
  width: 250px;
}
#space #bottom #right {
  display: table-cell;
}
#space #bottom #right #view {
  display: table;
  height: 100%;
  width: 100%;
}
#space #bottom #right #view #view-top {
  display: table-row;
  height: 1%;
}
#space #bottom #right #view #view-top #view-header {
  display: table-cell;
}
#space #bottom #right #view #view-bottom {
  display: table-cell;
  position: relative;
}
#space #bottom #right #view #view-bottom #view-body {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: scroll;
}
html {
  width: 100%;
}
body {
  width: 100%;
}
#space-movile {
  display: block;
  left: auto;
  position: static;
  top: auto;
  width: 100%;
}
#space-movile #top {
  display: block;
}
#space-movile #top #header {
  display: block;
  height: auto;
}
#space-movile #top #header #user-info {
  display: none;
}
#space-movile #bottom {
  display: block;
  height: auto;
  width: 100%;
}
#space-movile #bottom #left {
  display: none;
  width: 0;
}
#space-movile #bottom #right {
  display: block;
}
#space-movile #bottom #right #view {
  display: block;
  height: auto;
  width: 100%;
}
#space-movile #bottom #right #view #view-top {
  display: block;
  height: auto;
}
#space-movile #bottom #right #view #view-top #view-header {
  display: block;
}
#space-movile #bottom #right #view #view-top #view-header #breadcrumb {
  display: none;
}
#space-movile #bottom #right #view #view-bottom {
  display: block;
  position: relative;
}
#space-movile #bottom #right #view #view-bottom #view-body {
  display: block;
  left: 0;
  position: static;
  right: 0;
  top: 0;
  overflow: scroll;
}
#header {
  background-color: #d40041;
  padding: 0;
  border-bottom: 3px solid #a10031;
}
#header:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
#header #brand {
  display: inline-block;
  text-indent: -100000px;
  overflow: hidden;
  background-image: url("../img/pillars-logo-whiteheader.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  width: 122px;
  margin: 11px 0 5px 15px;
}
#header #user {
  display: inline-block;
  line-height: 1em;
  font-size: 3em;
  float: right;
  padding: 0 0.5em 0 2em;
  background-color: #a10031;
  background-image: linear-gradient(135deg, #d40041 1.5em, transparent 1.5em);
  position: relative;
}
#header #user #user-img {
  display: inline-block;
  border-radius: 50%;
  height: 1em;
  margin: 2px 8px 2px 0;
  width: auto;
  vertical-align: middle;
  border: 2px solid #ff6e9a;
  cursor: pointer;
}
#header #user #user-info {
  font-size: 0.5em;
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#header #user #user-options {
  font-size: 0.4em;
}
#navigation {
  background-color: #3b0012;
  color: #ffffff;
  border-right: 3px solid #a10031;
  background-image: linear-gradient(135deg, transparent 60%, rgba(0, 0, 0, 0.1) 60%);
}
#navigation .nav-title {
  display: none;
}
#navigation nav {
  padding: 0 0 50px;
}
#navigation nav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navigation nav ul li {
  overflow: visible;
  display: block;
  margin: 0;
  border-bottom: 1px solid #a10031;
  color: #ffffff;
}
#navigation nav ul li a {
  white-space: nowrap;
  position: relative;
  padding: 0.5em;
  display: block;
}
#navigation nav ul li a:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f1de";
  margin-right: 0.6em;
}
#navigation nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#view #view-header {
  background-color: #ffcc00;
  border-bottom: 2px solid #cca300;
  color: #ffffff;
}
#view #view-header #breadcrumb {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#view #view-header #breadcrumb li {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: relative;
  margin: 0 0.95em 0 0;
}
#view #view-header #breadcrumb li a {
  display: block;
  text-decoration: none;
  color: #997a00;
  padding: 0 10px;
  height: 1.5em;
  line-height: 1.5em;
}
#view #view-header #breadcrumb li:after {
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  content: "";
  height: 1.5em;
  position: absolute;
  right: -0.75em;
  top: 0;
  -ms-transform: scale(0.707) rotate(45deg);
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  width: 1.5em;
  z-index: 1;
}
#view #view-header #breadcrumb li:before {
  background-image: linear-gradient(45deg, transparent 1.5em, rgba(255, 255, 255, 0.5) 1.5em), linear-gradient(135deg, transparent 1.5em, rgba(255, 255, 255, 0.5) 1.5em);
  background-position: -0.75em 0;
  background-size: 1.5em 1.5em;
  content: "";
  height: 1.5em;
  left: -0.75em;
  position: absolute;
  top: 0;
  width: 0.75em;
  z-index: 1;
}
#view #view-header #breadcrumb li:first-child:before {
  display: none;
}
#view #view-header #view-title {
  display: block;
  float: left;
  font-size: 2.5em;
  padding: 0.1em 0.5em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
#view #view-header #actions {
  display: inline-block;
  padding: 0.5em 1em 0 3.5em;
  background-color: #cca300;
  background-image: linear-gradient(135deg, #ffcc00 2.5em, transparent 2.5em);
  position: relative;
  float: right;
  margin-top: 1em;
}
#view #msgs {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  list-style-type: none;
}
#view #msgs li {
  display: block;
}
.crudLister {
  margin: 1em;
}
.crudLister > table {
  width: 100%;
  margin: 0;
}
/*

#header {
	.notifier {
		background-color: rgba(0, 0, 0, 0.8);
		border-bottom: 1px solid #202020;
		left: 0;
		padding: 8px 10px 2px;
		position: fixed;
		top: 50px;
		width: 100%;
		z-index: 100;
		li {
			margin: 0 auto 6px;
			max-width: 530px;
			padding: 5px 15px;
			width: 100%;
		}
	}
}
#page {

}
.form-progressbar {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;

	display: block !important;
	height: 0;
	margin: 0 15px;
	opacity: 0;
	z-index: 1000;
	.progress {
		border-color: #888888 #FEFEFE #FEFEFE #888888;
		border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.3);
		height: 100%;
		margin: 0;
		.progress-bar {
			box-shadow: 0 -10px 2px rgba(255, 255, 255, 0.1) inset;
		}
	}
	&.ng-hide {
		opacity:0;
	}
	&.ng-show {
		opacity:1;
		height: 20px;
		margin: 0 15px 5px;
	}
}

.form-horizontal {
	max-width: 750px;
}

.form-group {
	margin-bottom: 5px;
}

label.control-label {
	.label-text {
		display: inline-block;
		.popover {
			left: 100%;
			margin-left: -2px;
			margin-top: -30px;
			max-width: 500%;
			min-width: 200px;
			right: auto;
			.arrow {
				top:46px;
			}
		}
		&:hover {
			.popover {
				display: block;
			}
		}
	}
	.lang-selector {
		display: inline-block;
		margin: 3px 0 0 5px;
		.dropdown-toggle {
			margin: 0;
			padding: 0 6px 2px;
		}
		.dropdown-menu {
			left: auto;
			right: 0;
			min-width: 100%;
		}
	}
}

.form-list {
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	margin-bottom: 35px;
	margin-top: 25px;
	.list-header {
		padding: 5px 15px 0;
		border-bottom: 1px solid #DFDFDF;
		position: relative;
		.control-label {
			text-align: left;
			margin-bottom: 10px;
		}
		.help-block{
			text-align: left;
			margin-top: 0;
		}
		.btn-open {
			position: absolute;
			right: 5px;
			top: 5px;
		}
	}
	.list-footer {
		padding: 10px 15px 0;
		overflow: auto;
		.btn-add {
			float: right;
			margin: 0px 0 10px;
		}
	}
	.list-items {
		clear: both;
		&>fieldset {
			background-color: #F9F9F9;
			border-top: 1px solid #CCCCCC;
			border-bottom: 1px solid #CCCCCC;
			margin: -1px -15px 0;
			padding-top: 15px;
			legend {
				display: block;
			}
			&>.form-group {
				margin: 0;
			}
			&>.fieldset-controls {
				padding: 0 10px;
				height: 0;
				overflow: hidden;
				-webkit-transition:all linear 0.2s;
				transition:all linear 0.2s;
				.btn-remove {
					border-radius: 4px 4px 0 0;
				}
				.list-sort-select {
					max-width: 120px;
					&>* {
						border-bottom-right-radius:0;
						border-bottom-left-radius:0;
						border-bottom-style: none;
					}
				}
			}
			&:hover {
				.fieldset-controls {
					height: 34px;
				}
			}
		}
	}
}

datepicker {
	display: block;
	.row {
		.col-date {
			.clear-button {
				cursor: pointer;
			}
			.input-group {
				max-width: 350px;
				margin: 0 0 5px 0;
				.datepicker-year {
					width: 30% !important;
					border-right-style: none;
				}
				.datepicker-month {
					width: 50% !important;
					border-right-style: none;
				}
				.datepicker-date {
					width: 20% !important;
				}
			}
		}
		.col-time {
			.input-group {
				max-width: 250px;
				margin: 0 0 5px 0;
				.datepicker-hours {
					width: 40% !important;
				}
				.input-group-separator {
					width: 20% !important;
				}
				.datepicker-minutes {
					width: 40% !important;
				}
			}
		}
	}
	.calendar {
		padding: 10px 0 0;
		clear: both;
		table.calendar-table {
			clear: both;
			margin: 0;
			th, td {
				text-align: center;
				padding: 4px 4px;
			}
			tr.datepicker-header {
				th {
					span.glyphicon-chevron-left {margin:0 10px;cursor: pointer;}
					span.glyphicon-chevron-right {margin:0 10px;cursor: pointer;}
					span.name {
						font-weight: 700;
					}
					.datepicker-month {
						width: 50%;
						span.name {}
					}
					.datepicker-year {
						width: 50%;
						span.name {}
					}
				}
			}
			tr.datepicker-week {
				th {}
			}
			tr.datepicker-days {
				td {
					cursor: pointer;
				}
				td.text-info {
					font-weight: 700;
				}
				td.bg-primary {
				}
				td.outMonth {
					color: #CCCCCC;
				}
			}
		}
	}
}

reference {
	.reference-search {
		.form-control {
		}
		.input-group-btn {
			position: static;
			.dropdown-toggle {
				.caret {}
			}
			.dropdown-menu {
				width: 100%;
				max-height: 250px;
				overflow: scroll;
				padding: 0;
				padding: 5px;
				float: none;
				background-clip: none;
				z-index: 3000;
				-webkit-overflow-scrolling: touch;
				li.reference {
					padding: 10px 130px 10px 25px;
					border-bottom: 1px solid #CCCCCC;
					clear: both;
					position: relative;
					max-width: 100%;
					overflow: hidden;
					&.selected {
						&:before {
							background-color: #5BC0DE;
							bottom: 5px;
							content: "";
							display: block;
							height: auto;
							left: 5px;
							position: absolute;
							top: 5px;
							width: 10px;
						}
					}
					.reference-img {
						display: block;
						position: absolute;
						right: 10px;
						top: 10px;
						bottom: 10px;
						height: auto;
						overflow: hidden;
						width: 140px;
						img {
							display: block;
							position: absolute;
							right: 0;
							top: 0;
							background-color: #FFFFFF;
							border: 1px solid #CCCCCC;
							max-height: 100%;
							max-width: 100%;
							width: auto;
							border-radius: 4px 4px 4px 4px;
						}
					}
					.reference-items {
						padding: 0;
						.reference-item {
							display: block;
							.item-label {
								display: inline-block;
							}
							.item-value {
								display: inline-block;
							}
						}
						&.reference-item-_img, &.reference-item-_id {
							display: none;
						}
					}
				}
			}
		}
	}
	.references {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li.reference  {
			background-color: #F9F9F9;
			border: 1px solid #CCCCCC;
			border-radius: 4px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
			margin: 10px 0 0 0;
			.reference-data {
				padding: 15px 140px 0 0;
				position: relative;
				.reference-img {
					display: block;
					position: absolute;
					right: 10px;
					top: 10px;
					bottom: 10px;
					height: auto;
					overflow: hidden;
					width: 140px;
					img {
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						background-color: #FFFFFF;
						border: 1px solid #CCCCCC;
						max-height: 100%;
						max-width: 100%;
						width: auto;
						border-radius: 4px 4px 4px 4px;
					}
				}
				.reference-items {
					padding: 0;
					.reference-item {
						border-bottom: 1px solid #F5F5F5;
						display: block;
						margin: 0 0 5px;
						padding: 0 0 5px;
						overflow: auto;
						&:last-child {
							border-bottom-style: none;
						}
						.item-label {
							display: block;
						}
						.item-value {
							display: block;
						}
						&.reference-item-_img, &.reference-item-_id {
							display: none;
						}
					}
				}
			}
			.reference-controls {
				padding: 0 10px;
				height: 0;
				overflow: hidden;
				-webkit-transition:all linear 0.2s;
				transition:all linear 0.2s;
				.btn-remove {
					border-radius: 4px 4px 0 0;
				}
				.reference-sort-select {
					max-width: 120px;
					&>* {
						border-bottom-right-radius:0;
						border-bottom-left-radius:0;
						border-bottom-style: none;
					}
				}
			}
			&:hover {
				.reference-controls {
					height: 34px;
				}
			}
		}
	}
}

imagepicker {
	.current-file {

	}
	.new-file {
		img {
			max-width: 200px;
			max-height: 200px;
		}
		.imagedit {

		}
	}
}

.input-group-separator {
	background-color: #EEEEEE;
	border-color: #CCCCCC;
	border-style: solid none;
	border-width: 1px;
	color: #555555;
	display: table-cell;
	float: left;
	font-weight: 400;
	padding: 6px;
	text-align: center;
	width: auto;
	line-height: inherit;
}

.imagebox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	display: inline-block;
	margin: 0 0 10px;
	max-width: 100%;
	min-height: 34px;
	overflow: hidden;
	padding: 4px;
	position: relative;
	width: auto;
	img {
		background-color: #FFFFFF;
		border: 1px solid #FFFFFF;
		box-shadow: 0 0 2px 1px #D6D6D6;
		display: block;
		max-height: 100px;
		max-width: 100%;
		width: auto;
	}
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

.navbar-fixed-top {
	background-color: #F7F7F7;
	border-top: 1px solid #BFBFBF;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	padding: 0 20px;
	form .form-group .input-group {
		width: 200px;
	}
}

.table td pre {
	white-space: pre-wrap;
}

body{
	padding-top: 50px;
}

.wysiwyg {
	width: 500px;
	height: 500px;
}

*/