#header .notifier {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #202020;
  left: 0;
  padding: 8px 10px 2px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 100;
}
#header .notifier li {
  margin: 0 auto 6px;
  max-width: 530px;
  padding: 5px 15px;
  width: 100%;
}
.form-progressbar {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
  height: 0;
  margin: 0 15px;
  opacity: 0;
  z-index: 1000;
}
.form-progressbar .progress {
  border-color: #888888 #FEFEFE #FEFEFE #888888;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin: 0;
}
.form-progressbar .progress .progress-bar {
  box-shadow: 0 -10px 2px rgba(255, 255, 255, 0.1) inset;
}
.form-progressbar.ng-hide {
  opacity: 0;
}
.form-progressbar.ng-show {
  opacity: 1;
  height: 20px;
  margin: 0 15px 5px;
}
.form-horizontal {
  max-width: 750px;
}
.form-group {
  margin-bottom: 5px;
}
label.control-label .label-text {
  display: inline-block;
}
label.control-label .label-text .popover {
  left: 100%;
  margin-left: -2px;
  margin-top: -30px;
  max-width: 500%;
  min-width: 200px;
  right: auto;
}
label.control-label .label-text .popover .arrow {
  top: 46px;
}
label.control-label .label-text:hover .popover {
  display: block;
}
label.control-label .lang-selector {
  display: inline-block;
  margin: 3px 0 0 5px;
}
label.control-label .lang-selector .dropdown-toggle {
  margin: 0;
  padding: 0 6px 2px;
}
label.control-label .lang-selector .dropdown-menu {
  left: auto;
  right: 0;
  min-width: 100%;
}
.form-list {
  background-color: #F2F2F2;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 35px;
  margin-top: 25px;
}
.form-list .list-header {
  padding: 5px 15px 0;
  border-bottom: 1px solid #DFDFDF;
  position: relative;
}
.form-list .list-header .control-label {
  text-align: left;
  margin-bottom: 10px;
}
.form-list .list-header .help-block {
  text-align: left;
  margin-top: 0;
}
.form-list .list-header .btn-open {
  position: absolute;
  right: 5px;
  top: 5px;
}
.form-list .list-footer {
  padding: 10px 15px 0;
  overflow: auto;
}
.form-list .list-footer .btn-add {
  float: right;
  margin: 0px 0 10px;
}
.form-list .list-items {
  clear: both;
}
.form-list .list-items > fieldset {
  background-color: #F9F9F9;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  margin: -1px -15px 0;
  padding-top: 15px;
}
.form-list .list-items > fieldset legend {
  display: block;
}
.form-list .list-items > fieldset > .form-group {
  margin: 0;
}
.form-list .list-items > fieldset > .fieldset-controls {
  padding: 0 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.form-list .list-items > fieldset > .fieldset-controls .btn-remove {
  border-radius: 4px 4px 0 0;
}
.form-list .list-items > fieldset > .fieldset-controls .list-sort-select {
  max-width: 120px;
}
.form-list .list-items > fieldset > .fieldset-controls .list-sort-select > * {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-style: none;
}
.form-list .list-items > fieldset:hover .fieldset-controls {
  height: 34px;
}
datepicker {
  display: block;
}
datepicker .row .col-date .clear-button {
  cursor: pointer;
}
datepicker .row .col-date .input-group {
  max-width: 350px;
  margin: 0 0 5px 0;
}
datepicker .row .col-date .input-group .datepicker-year {
  width: 30% !important;
  border-right-style: none;
}
datepicker .row .col-date .input-group .datepicker-month {
  width: 50% !important;
  border-right-style: none;
}
datepicker .row .col-date .input-group .datepicker-date {
  width: 20% !important;
}
datepicker .row .col-time .input-group {
  max-width: 250px;
  margin: 0 0 5px 0;
}
datepicker .row .col-time .input-group .datepicker-hours {
  width: 40% !important;
}
datepicker .row .col-time .input-group .input-group-separator {
  width: 20% !important;
}
datepicker .row .col-time .input-group .datepicker-minutes {
  width: 40% !important;
}
datepicker .calendar {
  padding: 10px 0 0;
  clear: both;
}
datepicker .calendar table.calendar-table {
  clear: both;
  margin: 0;
}
datepicker .calendar table.calendar-table th,
datepicker .calendar table.calendar-table td {
  text-align: center;
  padding: 4px 4px;
}
datepicker .calendar table.calendar-table tr.datepicker-header th span.glyphicon-chevron-left {
  margin: 0 10px;
  cursor: pointer;
}
datepicker .calendar table.calendar-table tr.datepicker-header th span.glyphicon-chevron-right {
  margin: 0 10px;
  cursor: pointer;
}
datepicker .calendar table.calendar-table tr.datepicker-header th span.name {
  font-weight: 700;
}
datepicker .calendar table.calendar-table tr.datepicker-header th .datepicker-month {
  width: 50%;
}
datepicker .calendar table.calendar-table tr.datepicker-header th .datepicker-year {
  width: 50%;
}
datepicker .calendar table.calendar-table tr.datepicker-days td {
  cursor: pointer;
}
datepicker .calendar table.calendar-table tr.datepicker-days td.text-info {
  font-weight: 700;
}
datepicker .calendar table.calendar-table tr.datepicker-days td.outMonth {
  color: #CCCCCC;
}
reference .reference-search .input-group-btn {
  position: static;
}
reference .reference-search .input-group-btn .dropdown-menu {
  width: 100%;
  max-height: 180px;
  overflow: auto;
  padding: 0;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference {
  padding: 10px 130px 10px 25px;
  border-bottom: 1px solid #CCCCCC;
  clear: both;
  position: relative;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference.selected:before {
  background-color: #5BC0DE;
  bottom: 5px;
  content: "";
  display: block;
  height: auto;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 10px;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-img {
  display: inline-block;
  height: 100%;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-img img {
  border: 1px solid #CCCCCC;
  float: right;
  max-height: 100%;
  max-width: 100%;
  right: 0;
  top: 0;
  width: auto;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-items {
  padding: 0;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-items .reference-item {
  display: block;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-items .reference-item .item-label {
  display: inline-block;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-items .reference-item .item-value {
  display: inline-block;
}
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-items.reference-item-_img,
reference .reference-search .input-group-btn .dropdown-menu li.reference .reference-items.reference-item-_id {
  display: none;
}
reference .references {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
reference .references li.reference {
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 10px 0 0 0;
}
reference .references li.reference .reference-data {
  padding: 15px 140px 0 0;
  position: relative;
}
reference .references li.reference .reference-data .reference-img {
  display: inline-block;
  height: 100%;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
}
reference .references li.reference .reference-data .reference-img img {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  float: right;
  max-height: 100%;
  max-width: 100%;
  right: 0;
  top: 0;
  width: auto;
  border-radius: 4px 4px 4px 4px;
}
reference .references li.reference .reference-data .reference-items {
  padding: 0;
}
reference .references li.reference .reference-data .reference-items .reference-item {
  border-bottom: 1px solid #F5F5F5;
  display: block;
  margin: 0 0 5px;
  padding: 0 0 5px;
  overflow: auto;
}
reference .references li.reference .reference-data .reference-items .reference-item:last-child {
  border-bottom-style: none;
}
reference .references li.reference .reference-data .reference-items .reference-item .item-label {
  display: block;
}
reference .references li.reference .reference-data .reference-items .reference-item .item-value {
  display: block;
}
reference .references li.reference .reference-data .reference-items .reference-item.reference-item-_img,
reference .references li.reference .reference-data .reference-items .reference-item.reference-item-_id {
  display: none;
}
reference .references li.reference .reference-controls {
  padding: 0 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
reference .references li.reference .reference-controls .btn-remove {
  border-radius: 4px 4px 0 0;
}
reference .references li.reference .reference-controls .reference-sort-select {
  max-width: 120px;
}
reference .references li.reference .reference-controls .reference-sort-select > * {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-style: none;
}
reference .references li.reference:hover .reference-controls {
  height: 34px;
}
imagepicker .new-file img {
  max-width: 200px;
  max-height: 200px;
}
.input-group-separator {
  background-color: #EEEEEE;
  border-color: #CCCCCC;
  border-style: solid none;
  border-width: 1px;
  color: #555555;
  display: table-cell;
  float: left;
  font-weight: 400;
  padding: 6px;
  text-align: center;
  width: auto;
  line-height: inherit;
}
.imagebox {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  margin: 0 0 10px;
  max-width: 100%;
  min-height: 34px;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: auto;
}
.imagebox img {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 2px 1px #D6D6D6;
  display: block;
  max-height: 100px;
  max-width: 100%;
  width: 100%;
}
.imagebox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.navbar-fixed-bottom {
  background-color: #F7F7F7;
  border-top: 1px solid #BFBFBF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
}
.table td pre {
  white-space: pre-wrap;
}
body {
  padding-top: 50px;
}
.wysiwyg {
  width: 500px;
  height: 500px;
}
