.faclass {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.inputs-border {
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputs-basics {
  display: inline-block;
  vertical-align: top;
  padding: 0 1em 0 1em;
  height: 2.2em;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  white-space: nowrap;
  color: #333333;
  text-shadow: none;
  position: relative;
  margin: 0 0.5em 0.5em 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputs-box-inset {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-inset-hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-inset-focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.inputs-box-outset {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-outset-hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.inputs-box-outset-focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #333333;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.3em;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: #004d56;
}
h1 {
  font-size: 4.0em;
}
h2 {
  font-size: 3.0em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  margin: 0 0 0.5em;
}
p > a:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c1";
  font-size: 0.8em;
  margin-right: 0.2em;
}
p a {
  color: #00d6ef;
}
p a:hover {
  text-decoration: underline;
}
p code {
  background-color: #eeeeee;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  color: #004d56;
  display: inline-block;
  margin: -0.2em 0.1em;
  padding: 0.2em 0.4em;
}
p em {
  color: #e7a50b;
}
p strong {
  color: #a10031;
}
p del {
  color: #999999;
}
blockquote {
  background-color: #eeeeee;
  border: 1px solid #d4d4d4;
  border-left: 5px solid #97bdc0;
  border-radius: 4px;
  margin: 0.2em 0;
  padding: 0.5em 1em 0;
  position: relative;
}
dl {
  margin: 1em 1.5em;
  padding: 0;
}
dl dt {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0.2em 0;
}
dl dd {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin: 0 0 1em;
  padding: 1em;
}
code.hlr {
  padding: 1.2em;
  border: 1px solid #000000;
  box-shadow: 0 0 15px 5px #000000 inset;
  margin: 1em;
}
.action.field > label:before,
.bg-action.field > label:before,
.info.field > label:before,
.bg-info.field > label:before,
.ok.field > label:before,
.bg-ok.field > label:before,
.alert.field > label:before,
.bg-alert.field > label:before,
.danger.field > label:before,
.bg-danger.field > label:before,
.soft.field > label:before,
.bg-soft.field > label:before,
.action.msg-icon:before,
.bg-action.msg-icon:before,
.info.msg-icon:before,
.bg-info.msg-icon:before,
.ok.msg-icon:before,
.bg-ok.msg-icon:before,
.alert.msg-icon:before,
.bg-alert.msg-icon:before,
.danger.msg-icon:before,
.bg-danger.msg-icon:before,
.soft.msg-icon:before,
.bg-soft.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.action.field > label:before,
.bg-action.field > label:before,
.action.msg-icon:before,
.bg-action.msg-icon:before {
  content: "\f192";
}
.info.field > label:before,
.bg-info.field > label:before,
.info.msg-icon:before,
.bg-info.msg-icon:before {
  content: "\f05a";
}
.ok.field > label:before,
.bg-ok.field > label:before,
.ok.msg-icon:before,
.bg-ok.msg-icon:before {
  content: "\f058";
}
.alert.field > label:before,
.bg-alert.field > label:before,
.alert.msg-icon:before,
.bg-alert.msg-icon:before {
  content: "\f06a";
}
.danger.field > label:before,
.bg-danger.field > label:before,
.danger.msg-icon:before,
.bg-danger.msg-icon:before {
  content: "\f057";
}
.soft.field > label:before,
.bg-soft.field > label:before,
.soft.msg-icon:before,
.bg-soft.msg-icon:before {
  content: "locked";
}
.action {
  border-color: #00a8bc !important;
  color: #00d6ef !important;
}
.info {
  border-color: #77a9ad !important;
  color: #97bdc0 !important;
}
.ok {
  border-color: #3ab34b !important;
  color: #57c967 !important;
}
.alert {
  border-color: #e7a50b !important;
  color: #f5ba30 !important;
}
.danger {
  border-color: #ac2935 !important;
  color: #d03846 !important;
}
.soft {
  border-color: #bbbbbb !important;
  color: #d4d4d4 !important;
}
.bg-action,
.bg-info,
.bg-ok,
.bg-alert,
.bg-danger,
.bg-soft {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
}
.bg-action {
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
.bg-info {
  background-color: #97bdc0 !important;
  border-color: #77a9ad !important;
}
.bg-ok {
  background-color: #57c967 !important;
  border-color: #3ab34b !important;
}
.bg-alert {
  background-color: #f5ba30 !important;
  border-color: #e7a50b !important;
}
.bg-danger {
  background-color: #d03846 !important;
  border-color: #ac2935 !important;
}
.bg-soft {
  background-color: #d4d4d4 !important;
  border-color: #bbbbbb !important;
}
.msg {
  border-radius: 4px;
  padding: 0.5em;
  border: 1px solid #d4d4d4;
}
.progress {
  background-color: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0px, rgba(0, 0, 0, 0.3) 100%);
  display: block;
  position: relative;
  height: 2.2em;
  border-radius: 4px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.progress > span:first-child {
  display: block;
  background-color: inherit;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 2.2em 2.2em;
  height: 100%;
  animation: 2s linear 0s normal none infinite progressbar;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.progress > span:first-child > span:first-child {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 2.2em;
  text-align: center;
  font-weight: 700;
}
.progress > span:first-child > span:first-child .fa {
  margin-right: 0.2em;
}
.loader {
  margin-top: 0.5em;
}
.loader .msg,
.loader .progress {
  margin-bottom: 0.5em;
}
.loader .loadnext {
  display: block;
  width: 100%;
}
.loader .loading {
  text-align: center;
  font-weight: 700;
}
.loader .loading .fa-spinner {
  margin-right: 0.4em;
}
.loader .sending {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
.loader .sending.field > label:before,
.loader .sending.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.loader .sending.field > label:before,
.loader .sending.msg-icon:before {
  content: "\f192";
}
.loader .receiving {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #57c967 !important;
  border-color: #3ab34b !important;
}
.loader .receiving.field > label:before,
.loader .receiving.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.loader .receiving.field > label:before,
.loader .receiving.msg-icon:before {
  content: "\f058";
}
@keyframes progressbar {
  0% {
    background-position: 2.2em 0;
  }
  100% {
    background-position: 0 0;
  }
}
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
textarea,
button,
.button {
  display: inline-block;
  vertical-align: top;
  padding: 0 1em 0 1em;
  height: 2.2em;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  white-space: nowrap;
  color: #333333;
  text-shadow: none;
  position: relative;
  margin: 0 0.5em 0.5em 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
select:hover,
textarea:hover,
button:hover,
.button:hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
select:focus,
textarea:focus,
button:focus,
.button:focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
textarea {
  padding: 0.4em 1em 0.5em 1em;
  height: auto;
}
select {
  padding: 0;
}
select option {
  padding: 0.4em 1em 0.5em 1em;
}
.radio,
.checkbox {
  display: block;
  margin: 0 0 0.5em;
  white-space: nowrap;
  position: relative;
}
.radio > input,
.checkbox > input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  z-index: 1000;
  height: 100%;
  width: 100%;
  outline: 1px solid green;
  opacity: 0;
  cursor: pointer;
}
.radio > label,
.checkbox > label {
  font-weight: 400;
  font-size: 100%;
  display: inline-block;
  vertical-align: text-top;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.3em;
  z-index: 1;
}
.radio > label:before,
.checkbox > label:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.5em;
  content: "";
  background-color: #ffffff;
  padding: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-indent: 0;
  text-align: center;
  box-sizing: padding-box;
  vertical-align: text-top;
  margin-right: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.radio > input:hover + label:before,
.checkbox > input:hover + label:before {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.radio > input:focus + label:before,
.checkbox > input:focus + label:before {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.radio.hidden-label > label,
.checkbox.hidden-label > label {
  text-align: left;
}
.radio > label:before {
  border-radius: 50%;
}
.radio > input:checked + label:before {
  content: "\f111";
}
.checkbox > label:before {
  border-radius: 4px;
}
.checkbox > input:checked + label:before {
  content: "\f00c";
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  font-weight: 600;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus,
.button:focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.button {
  padding-top: 0.4em;
}
fieldset {
  border-style: none;
  border-radius: 4px;
  border-width: 1px;
}
label,
.label {
  font-size: 120%;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
label > .i18n-selector,
.label > .i18n-selector {
  font-size: 90%;
}
label > .i18n-selector > button,
.label > .i18n-selector > button {
  margin: 0;
}
.input {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.input > .help {
  margin: 0 0.5em 0.5em 0;
  color: #a1a1a1;
  font-style: italic;
  display: block;
}
.input > .subsetlist,
.input > .subset {
  margin: 0 -1em 0;
}
.input > .subsetlist > fieldset,
.input > .subset > fieldset {
  border-style: solid;
  margin: 0.5em -1px 0.5em;
  padding: 0.5em 0.5em;
}
form {
  color: #333333;
  margin: 0 auto;
  border-color: #bbbbbb;
  max-width: 60em;
}
form *,
form *:after,
form *:before {
  border-color: inherit;
}
form .field {
  display: block;
  padding: 0;
  border-radius: 6px;
}
form .field > label,
form .field.label {
  display: block;
  text-align: left;
  padding: 0.5em;
}
form .field > .input {
  padding: 0.5em 0.5em 0;
}
form .form-section {
  padding: 0.5em;
}
form .form-table .field > .input > input[type="text"],
form .form-table .field > .input > input[type="password"],
form .form-table .field > .input > select,
form .form-table .field > .input > textarea {
  display: block;
  width: 100%;
}
form .form-table .field > .input .inputaddons,
form .form-table .field > .input .lang {
  width: 100%;
}
form .form-table .field > .input .inputaddons > input[type="text"],
form .form-table .field > .input .lang > input[type="text"],
form .form-table .field > .input .inputaddons > input[type="password"],
form .form-table .field > .input .lang > input[type="password"],
form .form-table .field > .input .inputaddons > select,
form .form-table .field > .input .lang > select,
form .form-table .field > .input .inputaddons > textarea,
form .form-table .field > .input .lang > textarea {
  width: 100%;
}
form .form-table .field:not(.fullwidth) {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  background-color: transparent !important;
}
form .form-table .field:not(.fullwidth).bg-action > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
form .form-table .field:not(.fullwidth).bg-action > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-action > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field:not(.fullwidth).bg-action > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-action > *.msg-icon:before {
  content: "\f192";
}
form .form-table .field:not(.fullwidth).bg-info > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #97bdc0 !important;
  border-color: #77a9ad !important;
}
form .form-table .field:not(.fullwidth).bg-info > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-info > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field:not(.fullwidth).bg-info > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-info > *.msg-icon:before {
  content: "\f05a";
}
form .form-table .field:not(.fullwidth).bg-ok > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #57c967 !important;
  border-color: #3ab34b !important;
}
form .form-table .field:not(.fullwidth).bg-ok > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-ok > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field:not(.fullwidth).bg-ok > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-ok > *.msg-icon:before {
  content: "\f058";
}
form .form-table .field:not(.fullwidth).bg-alert > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #f5ba30 !important;
  border-color: #e7a50b !important;
}
form .form-table .field:not(.fullwidth).bg-alert > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-alert > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field:not(.fullwidth).bg-alert > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-alert > *.msg-icon:before {
  content: "\f06a";
}
form .form-table .field:not(.fullwidth).bg-danger > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #d03846 !important;
  border-color: #ac2935 !important;
}
form .form-table .field:not(.fullwidth).bg-danger > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-danger > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field:not(.fullwidth).bg-danger > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-danger > *.msg-icon:before {
  content: "\f057";
}
form .form-table .field:not(.fullwidth).bg-soft > * {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #d4d4d4 !important;
  border-color: #bbbbbb !important;
}
form .form-table .field:not(.fullwidth).bg-soft > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-soft > *.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
form .form-table .field:not(.fullwidth).bg-soft > *.field > label:before,
form .form-table .field:not(.fullwidth).bg-soft > *.msg-icon:before {
  content: "locked";
}
form .form-table .field:not(.fullwidth) > :first-child {
  border-radius: 4px 0 0 4px;
}
form .form-table .field:not(.fullwidth) > :last-child {
  border-radius: 0 4px 4px 0;
}
form .form-table .field:not(.fullwidth) > label,
form .form-table .field:not(.fullwidth) > .label {
  width: 10em;
  display: table-cell;
  padding: 0.5em;
  text-align: right;
}
form .form-table .field:not(.fullwidth) > .input {
  display: table-cell;
}
form .form-table .field.fullwidth {
  display: block;
  width: auto;
  border-radius: 4px;
}
form .form-table .field.fullwidth > label,
form .form-table .field.fullwidth > .label {
  width: auto;
  display: block;
  text-align: left;
  padding: 0.5em;
}
form .form-table .field.fullwidth > .input {
  display: block;
}
form.form-inline,
form .form-inline {
  margin: 0;
  display: inline-block;
}
form.form-inline .field,
form .form-inline .field {
  display: inline-block;
  padding: 0;
}
form.form-inline .field > label,
form .form-inline .field > label,
form.form-inline .field > .label,
form .form-inline .field > .label {
  display: inline-block;
  padding: 0 0.5em 0 0;
  margin: 0;
  text-align: right;
  vertical-align: middle;
}
form.form-inline .field > .input,
form .form-inline .field > .input {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
form.form-inline .field .radio,
form .form-inline .field .radio,
form.form-inline .field .checkbox,
form .form-inline .field .checkbox {
  display: inline-block;
}
.checkboxes {
  border-color: #bbbbbb;
  color: #333333;
}
.inputaddons {
  display: table !important;
  border-collapse: separate;
  width: 1px;
  white-space: nowrap;
  margin: 0 0.5em 0.5em 0;
  position: relative;
}
.inputaddons > * {
  margin: 0 !important;
  border-radius: 0 !important;
}
.inputaddons > *.dropdown-toggle-full {
  position: static !important;
}
.inputaddons > *:first-child {
  border-radius: 4px 0 0 4px !important;
}
.inputaddons > *:last-child {
  border-radius: 0 4px 4px 0 !important;
}
.inputaddons > *:not(:first-child) {
  border-left-style: none !important;
}
.inputaddons > *:not(:first-child) > * {
  border-left-style: inherit !important;
}
.inputaddons > * > * {
  margin: 0 !important;
  width: auto !important;
  border-radius: inherit !important;
}
.inputaddons .addon {
  display: table-cell;
  width: 1%;
  padding: 0;
  vertical-align: top;
}
.inputaddons .addon > label,
.inputaddons .addon > .radio,
.inputaddons .addon > .checkbox {
  background-color: #eeeeee;
  padding: 0.4em 1em 0 1em;
  height: 2.2em;
  line-height: 1.3em;
  color: #333333;
  text-shadow: none;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputaddons .addon > .radio,
.inputaddons .addon > .checkbox {
  margin-bottom: 0;
}
.inputaddons .addon > .select > select {
  width: auto !important;
}
.inputsline {
  display: inline-block;
  border-collapse: separate;
  white-space: nowrap;
  margin: 0 0.5em 0.5em 0;
  position: relative;
}
.inputsline > * {
  display: inline-block !important;
  border-radius: 0 !important;
  margin: 0 !important;
  vertical-align: top;
  float: left;
}
.inputsline > *.dropdown-toggle-full {
  position: static !important;
}
.inputsline > *:first-child {
  border-radius: 4px 0 0 4px !important;
}
.inputsline > *:last-child {
  border-radius: 0 4px 4px 0 !important;
}
.inputsline > *:not(:first-child) {
  border-left-style: none !important;
}
.inputsline > *:not(:first-child) > *,
.inputsline > *:not(:first-child):before,
.inputsline > *:not(:first-child):after {
  border-left-style: inherit !important;
}
.inputsline > * > * {
  border-radius: inherit !important;
  margin: 0 !important;
}
.inputsline > label,
.inputsline > .radio,
.inputsline > .checkbox {
  background-color: #eeeeee;
  padding: 0.4em 1em 0 1em;
  height: 2.2em;
  line-height: 1.3em;
  color: #333333;
  text-shadow: none;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.inputsline > .radio,
.inputsline > .checkbox {
  margin-bottom: 0;
}
.inputsline > .select {
  height: 2.2em;
  line-height: 1.3em;
}
.inputsline > .select > select {
  width: auto !important;
}
.input-msgs {
  display: block;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  margin: 0 0 1.2em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.input-msgs:after {
  content: "";
  border-width: 1px 1px 0 0;
  border-style: solid solid none none;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background-color: #ffffff;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  bottom: -8px;
  left: 10px;
  height: 14px;
  width: 14px;
  z-index: -1;
}
.input-msgs .msg:not(:last-child) {
  margin-bottom: 3px;
}
.select {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  display: block;
  margin: 0 0.5em 0.5em 0;
}
.select:before {
  border-radius: inherit;
  background-color: #ffffff;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: auto;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.select:after {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 1em 0 0;
  margin: 1px;
  background-color: transparent;
  z-index: -1;
  text-align: right;
  content: "\f078";
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  height: auto;
  width: 3em;
  line-height: 3.5em;
  font-size: 0.6em;
}
.select:hover:before {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.select select {
  border-radius: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: window;
  border-style: none;
  box-shadow: none;
  display: block !important;
  padding-left: 0.5em;
  padding-right: 2em;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
}
.select select + .select-focus {
  background-color: transparent;
  z-index: -1;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  text-indent: -100000px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.select select:focus + .select-focus {
  display: block;
}
table {
  width: auto;
  margin: 1em;
  background-color: #FFFFFF;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}
table td,
table th {
  padding: 0.4em 1em 0.5em 1em;
  border: 1px solid #d4d4d4;
  border-style: none none solid;
}
table td {
  text-align: left;
}
table th {
  text-align: center;
  font-weight: 700;
}
table > tr:first-child > *:first-child,
table > thead > tr:first-child > *:first-child,
table > tbody:first-child > tr:first-child > *:first-child {
  border-top-left-radius: 4px;
}
table > tr:first-child > *:last-child,
table > thead > tr:first-child > *:last-child,
table > tbody:first-child > tr:first-child > *:last-child {
  border-top-right-radius: 4px;
}
table > tr:last-child > *,
table > tfoot > tr:last-child > *,
table > tbody:last-child > tr:last-child > * {
  border-bottom-style: none;
}
table > tr:last-child > *:first-child,
table > tfoot > tr:last-child > *:first-child,
table > tbody:last-child > tr:last-child > *:first-child {
  border-bottom-left-radius: 4px;
}
table > tr:last-child > *:last-child,
table > tfoot > tr:last-child > *:last-child,
table > tbody:last-child > tr:last-child > *:last-child {
  border-bottom-right-radius: 4px;
}
table > tr:nth-child(2n) > td,
table > tr:nth-child(2n) > th,
table tbody > tr:nth-child(2n) > td,
table tbody > tr:nth-child(2n) > th {
  background-color: rgba(0, 0, 0, 0.03);
}
table tbody > tr:last-child > * {
  border-bottom-style: none;
}
table thead > tr:last-child > * {
  border-bottom: 2px solid #bbbbbb;
}
table tfoot > tr:first-child > * {
  border-top: 2px solid #bbbbbb;
}
table.separate {
  border-spacing: 1px;
}
table.separate td,
table.separate th {
  border-style: solid !important;
}
.datepicker .date-year {
  width: 4.2em;
}
.datepicker .date-month {
  width: 8em;
}
.datepicker .date-day {
  width: 3.2em;
}
.datepicker .time-hours {
  width: 3.2em;
}
.datepicker .time-dots {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.datepicker .time-minutes {
  width: 3.2em;
}
.calendar {
  color: #333333;
}
.calendar > table {
  margin: 0;
  width: 100%;
}
.calendar .calendar-days td {
  text-align: center;
  cursor: pointer;
}
.calendar .calendar-days td.today {
  color: #97bdc0;
  border-color: #97bdc0;
  font-weight: bold;
}
.calendar .calendar-days td.out {
  color: #d4d4d4;
}
.calendar .calendar-days td:hover {
  color: #00d6ef;
  border-color: #00d6ef;
}
.calendar .calendar-days td.selected {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
  background-color: #00d6ef;
  color: #FFFFFF;
  font-weight: bold;
}
.imgbox {
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 10px;
  max-width: 100%;
  min-height: 3em;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: auto;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.imgbox img {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: block;
  max-height: 12em;
  max-width: 100%;
  width: auto;
}
.imgbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.dropdown-toggle-hover,
.dropdown-toggle {
  display: inline-block;
  position: relative;
}
.dropdown-toggle-hover > button:after,
.dropdown-toggle > button:after {
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\00a0\00a0\f078";
  display: inline-block;
  font-size: 0.6em;
  margin-left: 0.4em;
  vertical-align: middle;
}
.dropdown-toggle-hover:hover .dropdown,
.dropdown-toggle.open .dropdown {
  display: block;
}
.dropdown.panel {
  color: #333333;
  font-size: 1em;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  width: auto;
  height: auto;
  min-width: 100%;
  padding: 0.5em;
  margin: 2px 0 0 0 !important;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px !important;
  z-index: 1000;
}
.dropdown.panel:before {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  top: -3px;
  position: absolute;
  left: 0;
  right: 0;
}
.dropdown.panel > li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px !important;
  margin: 3px;
  max-width: 100%;
  overflow: hidden;
  padding: 0.2em 0.5em;
  position: relative;
  cursor: pointer;
}
.dropdown.panel > li:hover {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
.dropdown.panel > li:focus {
  border-color: #00d6ef !important;
  box-shadow: 0 0 1px 4px rgba(0, 214, 239, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  z-index: 1000;
}
.dropdown.panel > li.selected {
  color: #ffffff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) !important;
  background-color: #00d6ef !important;
  border-color: #00a8bc !important;
}
.dropdown.panel > li.selected.field > label:before,
.dropdown.panel > li.selected.msg-icon:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.4em;
}
.dropdown.panel > li.selected.field > label:before,
.dropdown.panel > li.selected.msg-icon:before {
  content: "\f192";
}
.dropdown.panel.dropdown-right {
  left: auto;
  right: 0;
}
.dropdown.panel.dropdown-right ul {
  right: 100%;
  left: auto;
}
.dropdown.menu,
.dropdown.menu ul {
  color: #333333;
  font-size: 1em;
  display: none;
  position: absolute;
  top: 100%;
  left: 0.5em;
  padding: 0;
  margin: 2px 0 0 0 !important;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px !important;
  z-index: 1000;
}
.dropdown.menu:before,
.dropdown.menu ul:before {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  top: -3px;
  position: absolute;
  left: 0;
  right: 0;
}
.dropdown.menu:after,
.dropdown.menu ul:after {
  content: "";
  border-width: 1px 1px 0 0;
  border-style: solid solid none none;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent transparent;
  background-color: #ffffff;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  left: 10px;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.dropdown.menu li,
.dropdown.menu ul li {
  display: block;
  position: relative;
}
.dropdown.menu li > a,
.dropdown.menu ul li > a,
.dropdown.menu li > .menu-item,
.dropdown.menu ul li > .menu-item {
  display: block;
  white-space: nowrap;
  margin: 2px;
  padding: 0.2em 1em 0.2em 1em;
  color: #333333;
  border-radius: 2px;
  transition: all 0.1s linear 0s;
  cursor: pointer;
  line-height: normal;
}
.dropdown.menu li ul,
.dropdown.menu ul li ul {
  top: 0;
  left: 100%;
  margin: 0 0 0 3px;
}
.dropdown.menu li ul:before,
.dropdown.menu ul li ul:before {
  width: 3px;
  height: auto;
  top: 0;
  bottom: 0;
  left: -3px;
  right: auto;
}
.dropdown.menu li ul:after,
.dropdown.menu ul li ul:after {
  left: -6px;
  top: 12px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown.menu li:hover > ul,
.dropdown.menu ul li:hover > ul {
  display: block;
}
.dropdown.menu li:hover > a,
.dropdown.menu ul li:hover > a,
.dropdown.menu li:hover > .menu-item,
.dropdown.menu ul li:hover > .menu-item {
  background-color: #00d6ef;
  color: #FFFFFF;
}
.dropdown.menu.dropdown-right,
.dropdown.menu ul.dropdown-right {
  left: auto;
  right: 0.5em;
}
.dropdown.menu.dropdown-right:after,
.dropdown.menu ul.dropdown-right:after {
  left: auto;
  right: 10px;
}
.dropdown.menu.dropdown-right ul,
.dropdown.menu ul.dropdown-right ul {
  right: 100%;
  left: auto;
  margin: 0 3px 0 0;
}
.dropdown.menu.dropdown-right ul:before,
.dropdown.menu ul.dropdown-right ul:before {
  left: auto;
  right: -3px;
}
.dropdown.menu.dropdown-right ul:after,
.dropdown.menu ul.dropdown-right ul:after {
  left: auto;
  right: -6px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.reference .dropdown.references {
  max-height: 250px;
  overflow: scroll;
  background-clip: none;
  -webkit-overflow-scrolling: touch;
}
.reference .dropdown.references > li {
  padding-right: 20%;
}
.reference .dropdown.references > li ._img {
  display: block;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  bottom: 0.2em;
  height: auto;
  overflow: hidden;
  width: 20%;
}
.reference .dropdown.references > li ._img img {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  text-indent: -100000px;
}
.reference .dropdown.references > li > .props {
  list-style-type: none;
  padding: 0;
}
.reference .dropdown.references > li > .props > li {
  display: block;
}
.reference .dropdown.references > li > .props > li > strong {
  display: inline-block;
  padding: 0.2em 0.5em;
  width: 8em;
}
.reference .dropdown.references > li > .props > li > span {
  display: inline-block;
  vertical-align: top;
  padding: 0.3em 0.5em;
}
.reference .dropdown.references > li > .props > li.prop-_img,
.reference .dropdown.references > li > .props > li.prop-_id {
  display: none;
}
.reference .selection {
  color: #333333;
  border-color: #d4d4d4;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.reference .selection > li {
  margin: 3px;
  padding: 0.5em 20% 0.5em 1em;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 4px;
}
.reference .selection > li ._img {
  display: block;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  bottom: 0.2em;
  height: auto;
  overflow: hidden;
  width: 20%;
}
.reference .selection > li ._img img {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  text-indent: -100000px;
}
.reference .selection > li > .props {
  list-style-type: none;
  padding: 0;
}
.reference .selection > li > .props > li {
  display: block;
}
.reference .selection > li > .props > li > strong {
  display: inline-block;
  padding: 0.2em 0.5em;
  width: 8em;
}
.reference .selection > li > .props > li > span {
  display: inline-block;
  vertical-align: top;
  padding: 0.3em 0.5em;
}
.reference .selection > li > .props > li.prop-_img,
.reference .selection > li > .props > li.prop-_id {
  display: none;
}
.controls {
  display: block;
  margin-top: 0.5em;
  padding: 0.5em 0.5em 0;
}
.controls > * {
  display: inline-block;
}
@media (max-width: 800px) {
  .form-table .field {
    display: block !important;
  }
  .form-table .field > label {
    display: block !important;
    text-align: left !important;
    width: auto !important;
  }
  .form-table .field > .input {
    display: block !important;
  }
  table td,
  table th {
    padding: 0.1em 0.3em;
  }
}
