doctype html
html
	head
		title=title
		style
			:css
				body {
					padding: 50px;
					font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
				}
				a {
					color: #00B7FF;
				}
	body
		h1=h1
		h2=error
		pre=stack