include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - Alcance - 'make it easy'")
		h1 Alcance
			em Pillars.js Reference
		:markdown
			##Negociación HTTP
			  - **Envío de archivos** con *compresión*, *gestión de caché* y rangos automática (compatible con streaming y **recuperación de descargas**).
			  - Rutas parametrizadas y **multi-idioma**.
			  - Gestión de subida de archivos *(integrado con formidable)*.
			  - Parseo completo de encabezados HTTP, con ordenación por prioridad de cabeceras como *accept* y *languages*.
			  - Gestión de solicitudes mediante *Gangway*, envoltura para los objetos *request* y *response* propios de Node.js.
			  - Control automático de errores en manejadores.
			  - Soporte de **sesiones**, login básico y administración de usuarios.
			  - **CORS** administrable por ruta.
			  - **Compresión** de respuesta automática.
			  - Gestión de **cookies**.

			##Controladores y entorno
			  - **Entorno dinámico** en tiempo de ejecución, te permite modificar tu estructura en pleno funcionamiento.
			  - Controladores anidables por ruta, ofrece una mejor organización de funcionalidades en **árboles de rutas**.
			  - Los **Plugins** permiten extender las posibilidades de los controladores y modificar el funcionamiento del sistema.
			  - Integración en todos los componentes de la clase *EventEmitter*, permitiendo un nivel añadido de control.
			  - Nombrado de controladores, ofrece organización y control sobre el entorno.

			##Base de datos, persistencia
			  - Integración con **MongoDB**.
			  - Modelado de datos integrado en el sistema *(modelator)*, extensible y enfocado a la creación de APIs.
			  - **Control de credenciales** a nivel de campo basada en llaveros.
			  - Generación automática de **REST-API** basada en modelator con interface *Angular.js* responsive.
			  - El modelado de datos permite añadir manejadores propios por campo, con soporte asíncrono.

			##Internacionalización
			  - Integración completa de **i18n**.
			  - Traducciones basadas en nodos, sólo identifica el mensaje, no es necesario escribirlo.
			  - Adjunta el contexto a cada mensaje y adapta la traducción a cada caso desde las hojas de traducción.
			  - **Hojas de traducción en JS/JSON**, permite el uso de *cases*, *funciones* y *printf*.
			  - Gestión de idioma de la solicitud automática.

			##Utilidades
			  - *Renderer*, da **soporte a cualquier motor de plantillas** y gestiona la cache de forma centralizada.
			  - *Logger*, permite crear grupos de log y administrar los almacenes asociados a cada uno.
			  - *Mailer*, envio de mails *(integrado con node-mailer)*
			  - *Cron*, programación de tareas automatizadas *(integrado con node-cron)*

			##Y además
			  - Paneles de control para gestionar tu proyecto.
			  - Genera tus propios paneles administrativos y **CRUD**.
			  - **Documentación y tutoriales** en Español e Inglés.
			  - Licencia **MIT**.

			