include ../.layout.jade

doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - Class Beam - 'make it easy!'")

		#title
			h1 Clase Beam
				em  Pillars.js Reference
			a.source(href="https://github.com/bifuer/pillars/blob/master/lib/Beam.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				La Clase Beam extiende de la [clase EventEmitter](http://nodejs.org/api/events.html).
				
								

		//- Syntax
		section.syntax
			h2#syntax Sintaxis
			code.codeblock.
				var beam = new Beam({id: 'yo', path, method, priority, active},handlers,function()).configure({});

				var beam = new Beam

			section.parameters
				h3 Parámetros
				:markdown
					Opcionalmente instanciar la clase pasándole un objeto con los siguientes parámetros:

				dl
					dt account 
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt active - 5
					dd
						:markdown
							**Boolean** para habilitar o deshabilitar la instancia del Beam.


					dt cors
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt handler - 
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt id - 1
					dd
						:markdown
							Base de datos MongoDB que usará la aplicación para mantenimiento de sesiones y usuarios.

					dt path - 2 
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt priority - 4
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt maxlength
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt method - 3
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.


					dt session
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.

					dt upload
					dd
						:markdown
							Idiomas en los que trabajará la aplicación.


		//- Description
		section.description
			h2#description Descripción
			:markdown
				
				

		//- Properties --------------------------------------------------------
		section.properties
			h2#properties Propiedades


			//- Property
			section.property
				h3#property-id: code 
					| Beam.prototype.id

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**String** La propiedad `id` es el identificador de la instancia del Beam. **Por defecto**: aleatorio. 

						Cuando seteamos la propiedad se emite el evento `idUpdate`.

				//- Property syntax
				section.syntax
					h4 Sintaxis
					code.codeblock.
						beam.id;


			//- Property
			section.property
				h3#property-path: code 
					| Beam.prototype.path

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**String** que indica la ruta que atenderá la instancia del Beam. **Por defecto**: '/'.

					h4 Sintaxis
					code.codeblock.
						beam.path;


			//- Property
			section.property
				h3#property-method: code 
					| Beam.prototype.method

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**String** para especificar los métodos, POST y/o GET que aceptará la instancia del Beam. **Por defecto**: GET

					h4 Sintaxis
					code.codeblock.
						console.log(beam.method);

					:markdown
						Seteo para que el beam acepte el método POST y GET:

					code.codeblock.
						beam.method = ['get','post'];

					:markdown
						Seteo para que el beam acepte solo el método POST:

					code.codeblock.
						beam.method = ['post'];
				

					

			//- Property
			section.property
				h3#property-priority: code
					| Beam.prototype.priority

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**Integer**. La propiedad `priority` especifica la prioridad de ejecución de la instancia del Beam. **Por defecto**: 1000. 

						Esta prioridad de ejecutación siempre será tenida en cuenta en las instancias Beam dentro de la instancia del Pillar al que están conectados.


			//- Property
			section.property
				h3#property-active: code
					| Beam.prototype.active

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**Boolean** que especifica si la instancia del Beam está activa. *False* si no está activa. *True* si está activa. 

			//- Property
			section.property
				h3#property-cors: code
					| Beam.prototype.cors

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**String**. La propiedad `cors` hace referencia a [CORS](http://en.wikipedia.org/wiki/Cross-origin_resource_sharing)

	
			//- Property
			section.property
				h3#property-cors: code
					| Beam.prototype.maxlength

				//- Property description
				section.description
					h4 Descripción
					:markdown
						**Integer**. La propiedad `maxlength` especifica el máximo tamaño del conjunto de la solicitud. La instancia del Beam rechaza cualquier solicitud que exceda de ese tamaño. **Por defecto**: hereda el valor de la propiedad [`maxUploadSize`](pillars-library.jade#property-maxUploadSize) del seteo del servidor.


			
		//- Methods ---------------------------------------------------------------------
		section.methods
			h2#methods Métodos
			:markdown
				La Clase Beam no tiene métodos.


		
		//- Events ---------------------------------------------------------------------
		section.events
			h2#events Eventos

			//- Method
			section.event
				h3#event-id: code
					| idUpdate

				//- Method description
				section.description
					h4 Descripción
					:markdown
						La Clase Beam emite el evento 'idUpdate' cuando se realiza una actualización del id a una instancia del Beam.

				//- Method syntax
				section.syntax
					h4 Sintaxis
					code.codeblock.
						beam.on('idUpdate');

					
			//- Method
			section.event
				h3#event-id: code
					| priorityUpdate

				//- Method description
				section.description
					h4 Descripción
					:markdown
						La Clase Beam emite el evento 'priorityUpdate' cuando se realiza una actualización de la prioridad a una instancia del Beam.

				//- Method syntax
				section.syntax
					h4 Sintaxis
					code.codeblock.
						beam.on('priorityUpdate');


		//- Examples ------------------------------------------------------------------------------
		section.examples
			h2#examples Ejemplos

			//- Example
			section.example
				h3#example-1 Ejemplo 1
				:markdown
					Class `App` _Example 1_ lorem ipsum __synopsis__ hola [link to Google!](http://google.com)

				code.codeblock.
					var app = new App([{database:'',languages:['en'],port:3000,host:'*'}]);
				
				:markdown
					Class App Example 1 Review

