include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Reference',url:'/pillars/docs/reference/'},{label:'Librería i18n',url:'/pillars/docs/reference/cron.jade'}];
	+reference-layout("Pillars.js Reference - Librería cron - 'make it easy!'",path)

		#title
			h1 Librería i18n
				em  Pillars.js Reference
			a.source(href="https://github.com/bifuer/pillars/blob/master/lib/Cron.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				La librería cron integra en Pillars.js un **programador de tareas**. 


		//- Syntax
		section.syntax
			h2#syntax Sintaxis
			codesyntax.
				var msg = i18n();

			:markdown
				Lorem ipsum

			:highlight(lang='javascript')
				var msg = i18n();



		//- Description
		section.description
			h2#description Descripción
			:markdown
				Lorem ipsum
			
						
		//- Properties
		section.properties
			h2#properties Propiedades
		

			//- Property
			section.property
				h3#property-pathRegex: code
					small i18n
					| .pathRegex

				//- Property description
				section.description
					:markdown
						Propiedad de **sólo lectura** que contiene la expresión regular de la propiedad `path`. Si modificamos `path`, `pathRegex` se actualiza automáticamente.

		//- Methods
		section.methods
			h2#methods Métodos

			//- Method			
			section.method
				h3#method-removeRoute: code
					small i18n
					| .removeRoute()

				//- Method description
				section.description
					:markdown
						Dado el identificador de un objeto route hijo, elimina el objeto hijo.

				//- Method syntax
				section.syntax
					h4 Sintaxis
					codesyntax.
						var msg = i18n();

					:markdown
						var msg = i18n();

				section.example
					h4 Ejemplo
					:highlight(lang='javascript')
						var msg = i18n();						
