include ../.layout.jade

doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - Class App - 'make it easy!'")

		#title
			h1 Class App
				em  Pillars.js Reference
			a.source(href="#") Source

		//- Summary
		section.summary
			h2#summary Summary
			:markdown
				The summary
				> this is a blockquote

		//- Syntax
		section.syntax
			h2#syntax Syntax
			code.codeblock.
				var app = new App([{database:'',languages:['en'],port:3000,host:'*'}]);

			section.parameters
				h3 Parameters
				.msg.msg-icon.bg-alert Alerta!
				:markdown
					Class App can get ~~optionally~~ object with App config with these properties:

				dl
					dt database
					dd
						:markdown
							...

					dt languges
					dd
						:markdown
							...

					dt port
					dd
						:markdown
							...

					dt host
					dd
						:markdown
							...

		//- Description
		section.description
			h2#description Description
			:markdown
				Class App description

		//- Properties
		section.properties
			h2#properties Properties

			//- Property
			section.property
				h3#property-port: code
					small App.prototype
					| .port

				//- Property description
				section.description
					:markdown
						The `port` property get or set...

			//- Property
			section.property
				h3#property-hostname: code
					small App.prototype
					| .hostname

				//- Property description
				section.description
					:markdown
						The `port` property get or set...

			//- Property
			section.property
				h3#property-database: code 
					small App.prototype
					| .database

				//- Property description
				section.description
					:markdown
						The `port` property get or set...

		//- Methods
		section.methods
			h2#methods Methods

			//- Method
			section.method
				h3#method-add: code
					small App.prototype
					| .add()

				//- Method description
				section.description
					:markdown
						The `add` method add a new Pillar to the routes...

				//- Method syntax
				section.syntax
					h4 Syntax
					code.codeblock.
						myApp.add(pillar);

					section.parameters
						h5 Parameters
						dl
							dt pillar
							dd
								:markdown
									A Pillar instance  

							dt pillar
							dd
								:markdown
									A Pillar instance  

		//- Examples
		section.examples
			h2#examples Examples

			//- Example
			section.example
				h3#example-1 Example 1
				:markdown
					Class `App` _Example 1_ lorem ipsum __synopsis__ hola [link to Google!](http://google.com)

				code.codeblock.
					var app = new App([{database:'',languages:['en'],port:3000,host:'*'}]);
				
				:markdown
					Class App Example 1 Review

