include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - Sinopsis - 'make it easy'")
		h1 Sinopsis
			em Pillars.js Reference
		:markdown
			Pillars.js ofrece un entorno de desarrollo web **modular** y **escalable** en NodeJS.
			
			Bajo un enfoque sencillo y modular te permitirá introducirte en Node.js con una cuesta de aprendizaje suave, y si eres un programador JS avanzado obtendrás un entorno de trabajo organizado y eficaz. Puedes consultar el [Alcance](alcance.jade) del framework, donde observarás todas las posibilidades. 


			Los **conceptos principales** en los que se basa Pillars.js son:
			- **ENV**: Punto central de configuración y gestión de nuestro proyecto, permite añadir controladores de ruta (Route) y Plugins entre otras funciones.
			- **Route**: Controlador de ruta, define una ruta y propiedades adicionales para un manejador/controlador. Recibe un objeto Gangway como parámetro y son anidables.
			- **Gangway**: Un objeto con todas las propiedades y métodos relacionados con la gestión de una solicitud.
			- **Plugin**: Permite añadir controladores al entorno general, pueden modificar el funcionamiento de Gangway y Route, y acceder a sus propiedades.
