include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - Synopsis - 'make it easy'")
		h1 Synopsis
			em Pillars.js Reference
		:markdown
			The synopsis