include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - 'make it easy'")
		h1 Referencia
			
		:markdown
			Bienvenido a la referencia de Pillars.js. 

			En esta sección están detalladas todas las **clases**, **objetos** y **librerías** que componen el framework Pillars.js. Todas las secciones tienen un formato similar, están compuestas de sumario, descripción, sintaxis, propiedades, métodos y eventos.

			La referencia tiene un uso más específico de consulta concreta de propiedades, métodos y eventos. 

			En la sección tutoriales podrás encontrar ejemplos prácticos y sus explicaciones.

			
			
