include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Reference',url:'/pillars/docs/reference/'},{label:'Librería Logger',url:'/pillars/docs/reference/Logger.jade'}];
	+reference-layout("Pillars.js Reference - Librería Logger - 'make it easy!'",path)

		#title
			h1 Librería Logger
				em  Pillars.js Reference
			a.source(href="https://github.com/bifuer/pillars/blob/master/lib/Logger.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				Lorem ipsum
	
		
		//- Syntax
		section.syntax
			h2#syntax Constructor
			codesyntax.
				logger.info();

			:markdown
				Lorem ipsum

			:highlight(lang='javascript')
				// Creación más básica de un objeto route. 
				// Al omitir el objeto de configuración se establecen los valores por defecto

				route = new Route(function(gw){
					gw.send("Hola Mundo");
				});



		//- Description
		section.description
			h2#description Descripción
			:markdown
				Lorem ipsum
			
						
		//- Properties
		section.properties
			h2#properties Propiedades
		

			//- Property
			section.property
				h3#property-pathRegex: code
					small Route.prototype
					| .pathRegex

				//- Property description
				section.description
					:markdown
						Propiedad de **sólo lectura** que contiene la expresión regular de la propiedad `path`. Si modificamos `path`, `pathRegex` se actualiza automáticamente.

		//- Methods
		section.methods
			h2#methods Métodos

			//- Method			
			section.method
				h3#method-removeRoute: code
					small Route.prototype
					| .removeRoute()

				//- Method description
				section.description
					:markdown
						Dado el identificador de un objeto route hijo, elimina el objeto hijo.

				//- Method syntax
				section.syntax
					h4 Sintaxis
					codesyntax.
						.removeRoute( route identificator );

					:markdown
						+ *route identificator*: **String** identificador del objeto route.

				section.example
					h4 Ejemplo
					:highlight(lang='javascript')
						var web = home.removeRoute('web');	
						// Dejaría de estar disponible las funcionalidades en /web



		//- Eventos
		section.events
			h2#events Eventos

			section.event
				h3#event-idUpdate: code
					| idUpdate

				:markdown
					 Evento que se emite cuando el id del route es actualizado.

				:highlight(lang='javascript')
					//Creación del route
					route = new Route(function(gw){
						gw.send("Message");
					});

					//Capturar el evento
					route.on('idUpdate', function(){
						console.log("Evento idUpdate capturado");
					});

					route.id = "home";

					/*Imprime: 
						Evento idUpdate capturado
					*/