include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Reference',url:'/pillars/docs/reference/'},{label:'Clase Plugin',url:'/pillars/docs/reference/plugin.jade'}];
	+reference-layout("Pillars.js Reference - Clase Plugin - 'make it easy!'",path)

		#title
			h1 Clase Plugin
				em  Pillars.js Reference
			a.source(href="https://github.com/bifuer/pillars/blob/master/lib/Plugin.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				La Clase Plugin ....

	
		
		//- Syntax
		section.syntax
			h2#syntax Sintaxis
			:highlight(lang='javascript')
				//Inclusión de la librería y método start() para arrancar el servidor.
				require("pillars").start();

				//
				ENV.addRoute();

		//- Description
		section.description
			h2#description Descripción
			:markdown
				La Clase Plugin aporta la funcionalidad de añadir las rutas en las que responderá la aplicación, y el manejador concreto para dicha ruta.

			:highlight(lang='javascript')
				Lorem ipsum					

		//- Properties
		section.properties
			h2#properties Propiedades

			//- Property
			section.property
				h3#property-routes: code
					small Plugin
					| .routes

				//- Property description
				section.description
					:markdown
						Lorem ipsum


		//- Methods
		section.methods
			h2#methods Métodos

			//- Method
			section.method
				h3#method-addroute: code
					small ENV
					| .addRoute()

				//- Method description
				section.description
					:markdown
						Lorem ipsum

				//- Method syntax
				section.syntax
					h4 Syntax
					:highlight(lang='javascript')
						//Inicio del servidor con los valores por defecto:
						route.addRoute();



		//- Eventos
		section.events
			h2#events Eventos

			section.event
				h3#property-debug: code
					| Lorem ipsum

				:markdown
					Lorem ipsum 

				:highlight(lang='javascript')
					//Capturar el evento
					ENV.on('Lorem ipsum');

				
		//- Examples
		section.examples
			h2#examples Ejemplos

			//- Example
			section.example
				h3#example-1 Ejemplo 1. Primer Contacto.
				:markdown
					Lorem ipsum 
				:highlight(lang='javascript')
					require("pillars").start();

				:markdown
					Lorem ipsum


