include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Reference',url:'/pillars/docs/reference/'},{label:'Librería i18n',url:'/pillars/docs/reference/renderer.jade'}];
	+reference-layout("Pillars.js Reference - Librería Renderer - 'make it easy!'",path)

		#title
			h1 Librería Renderer
				em  Pillars.js Reference
			a.source(href="https://github.com/bifuer/pillars/blob/master/lib/renderer.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				La librería renderer ofrece la posibilidad de incluir otros templates engines, además de enviar al cliente ...

			.msg.msg-icon.bg-alert Estamos completando la referencia. ¡Disculpa las molestias!. Síguenos en las redes sociales para estar al tanto de las actualizaciones de la documentación. 


//		
		//- Syntax
		section.syntax
			h2#syntax Sintaxis
			codesyntax.
				var msg = "making";

			:markdown
				Lorem ipsum

			:highlight(lang='javascript')
				var msg = "making";



		//- Description
		section.description
			h2#description Descripción
			:markdown
				Lorem ipsum
			
						
		//- Properties
		section.properties
			h2#properties Propiedades
		

			//- Property
			section.property
				h3#property-xx: code
					small renderer
					| .xx

				//- Property description
				section.description
					:markdown
						Lorem ipsum

		//- Methods
		section.methods
			h2#methods Métodos

			//- Method			
			section.method
				h3#method-removeRoute: code
					small renderer
					| .xx()

				//- Method description
				section.description
					:markdown
						Lorem ipsum

				//- Method syntax
				section.syntax
					h4 Sintaxis
					codesyntax.
						var msg = ();

					:markdown
						var msg = ();

				section.example
					h4 Ejemplo
					:highlight(lang='javascript')
						var msg = ();						
