El entorno de Pillars.js se establece al realizar el 'require()' de la libreria.

--------

Obtenemos acceso al entorno Pillars.js al realizar el require() de la libreria. El entorno consiste en una serie de propiedades y funciones que nos permiten trabajar con el framework. La variable global ENV es la mas importante y punto central de configuración y arranque del entorno. Ademas tendremos acceso a clases como Plugin o Route, y las diferentes funciones que nos permitiran construir nuestra aplicación.

ENV es un objeto global cuyas propiedades conforman la configuración de nuestra aplicación y sus metodos nos permiten la construción de la misma. Tenemos propiedades que nos permiten configurar el servicio HTTP o la conexión a la base de datos, mientras metodos como .addRoute o .addPlugin son el mecanismo para añadir controladores a nuestro entorno.

Junto a ENV se establecen de forma global las referencias a clases como Plugin o Route para que sea posible instanciar dichos objetos, tambien acceso a funcionalidades como renderer, i18n, logger o cron. Todo esto nos ofrece un entorno de trabajo completo y centralizado cuyo punto central es ENV.

> Puedes encontrar una referencia a las variables globales de Pillars qui.

------


