<div class="reference">
	<div class="inputaddons" key-escape="escape()">
		<div class="addon">
			<label><span class="fa fa-search"></span></label>
		</div>
		<input class="search" type="text" placeholder="Buscar" ng-change="apiList.load()" ng-model="apiList.filter">
		<div class="addon dropdown-toggle dropdown-toggle-full" ng-class="{open:opened}">
			<button ng-click="dropdownToggle()" type="button"></button>
			<ul tabindex="-1" class="dropdown dropdown-right panel references" scroll-end="apiList.next()" scroll-end-margin="50">
				<li tabindex="0" ng-repeat="(lk, l) in apiList.list" ng-click="asignReference(l)" tab-selection="asignReference(l)" ng-class="{'selected':ids.indexOf(l._id)>=0}">
					<div ng-show="l._img" class="_img ng-hide"><img alt="Main image" ng-src="{{l._img.path}}"/></div>
					<ul class="props">
						<li ng-repeat="(pk,p) in l" class="prop-{{pk}}"><strong>{{pk}}</strong><span>{{p}}</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<ul class="selection">
		<li ng-repeat="(lk, l) in selection">
			<div ng-show="l._img" class="_img ng-hide"><img alt="Main image" ng-src="{{l._img.path}}"/></div>
			<ul class="props">
				<li ng-repeat="(pk,p) in l" class="prop-{{pk}}"><strong>{{pk}}</strong><span>{{p}}</span></li>
			</ul>
			<div class="controls" class="ng-hide" ng-show="limit!=1">
				<button type="button" ng-click="asignReference(l)" class="remove"><span class="fa fa-times"></span> Eliminar</button>
				<div class="select sort">
					<select ng-model="sortValues[lk]" ng-change="moveReference(lk)" ng-options="ork as ork*1+1 for (ork, ore) in selection"></select>
					<span class="select-focus"></span>
				</div>
			</div>
		</li>
	</ul>
</div>