mixin base(title)
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="shortcut icon", type="image/png", href="/pillars/docs/img/favicon-pillarsjs.png")
		link(rel='stylesheet', type='text/css', href='/pillars/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/pillars/css/pillars.css')
		link(rel='stylesheet', type='text/css', href='/pillars/css/pillarsDocs.css')
		//link(rel='stylesheet', type='text/css', href='/pillars/docs/css/style.css')
		link(rel="stylesheet", type='text/css', href="/pillars/docs/js/highlight/styles/monokai.css")

	body
		#space
			header#header
				a#logo Pillars.js - make it easy!
				nav#mainmenu
					h2 Main menu
					.select
						select
							option(value="#") Welcome
							option(value="/pillars/docs/reference/") Reference
							option(value="/pillars/docs/tutorials/") Tutorials
							option(value="#") Contact

					ul
						li: a(href="#") Welcome
						li: a(href="/pillars/docs/reference/") Reference
						li: a(href="/pillars/docs/tutorials/") Tutorials
						li: a(href="#") Contact

				nav#social
					h2 Social links
					ul
						li: a.github(href="#") Github
						li: a.twitter(href="#") Twitter
						li: a.gplus(href="#") Google+

			if path
				nav#breadcrumbs
					ul
						each d in path
							li: a(href=d.url)=d.label


			#main
				block

			footer#footer
				.logo Pillars.js - make it easy!
				.legal
					.phrase Pillars.js is a modular and scalable framework for web development in Node.js
					.copyright ©2014 Javier Gallego Martín & Chelo Quilón (Just Married) & individual contributors
					.license MIT license




		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Inconsolata:400,700')
		link(rel="stylesheet", type='text/css', href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='/pillars/docs/js/toc.min.js')
		script.
			$(function(){
				$('#TOC').toc({
					selectors:'h2,h3',
					container: '#contents'
				}).prepend('<h2>Table of contents</h2>');
			})


mixin layout(title,path)
	+base(title,path)
		#contents
			block

mixin reference-layout(title,path)
	+base(title,path)
		#sidebar

			nav#TOC

			nav
				h2 Reference index
				ul
					li: a(href="index.jade") Sinopsis
					li: a(href="alcance.jade") Alcance
					li: a(href="getting-started.jade") Getting Started
					li: a(href="entorno.jade") Entorno (ENV)
					li: a(href="route.jade") Route
					li: a(href="gangway.jade") Gangway
					li: a(href="plugin.jade") Plugin
					li
						a(href="#") Librerías
						ul
							li: a(href="i18n.jade") i18n
							li: a(href="logger.jade") Logger
							li: a(href="#") Renderer
							li: a(href="#") Modelator
							li: a(href="#") Mailer
							li: a(href="#") Cron

		#contents
			block





mixin tutorial-layout(title,path)
	+base(title,path)
		#sidebar

			nav#TOC
			
			nav
				h2 Tutorial index
				ul
					li: a(href="index.jade") Hola Mundo
					li: a(href="#") Visión Global de Pillars.js
					li: a(href="client-server.jade") Envío datos Cliente-Servidor
					li: a(href="server-client.jade") Envío datos Servidor-Cliente
					li: a(href="i18n.jade") i18n
					li: a(href="usuarios.jade") Autenticación de Usuarios
					li: a(href="bbdd.jade") Bases de Datos
					li: a(href="crud.jade") CRUD


					li
						a(href="#") Autenticación de usuarios
						ul
							li: a(href="#") htaccess 
							li: a(href="#") Mediante base de datos

					li
						a(href="#") Bases de Datos
						ul
							li: a(href="#") Conexión
							li: a(href="#") Consulta
							li: a(href="#") Insercción
							li: a(href="#") Borrado


					li
						a(href="#") CRUD
						ul
							li: a(href="#") Básico
							li: a(href="#") Multi-idioma
							li: a(href="#") Con seguridad


			
		#contents
			block