mixin base(title,path)
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="shortcut icon", type="image/png", href="/pillars/docs/img/favicon-pillarsjs.png")
		link(rel="stylesheet", type="text/css", href="/pillars/css/pillarsDocs.css")
		script(src="/pillars/docs/js/loader.js",async="async")

	body
		#space
			header#header
				a#logo Pillars.js - make it easy!
				nav#mainmenu
					h2 Main menu
					ul
						li: a(href="/pillars/docs/") Welcome
						li: a(href="/pillars/docs/reference/") Reference
						li: a(href="/pillars/docs/tutorials/") Tutorials
						li: a(href="#") Contact

				nav#social
					h2 Social links
					ul
						li: a.github(href="#") Github
						li: a.twitter(href="#") Twitter
						li: a.gplus(href="#") Google+

			if path
				nav#breadcrumbs
					ul
						each d in path
							li: a(href=d.url)=d.label


			#main
				block

			footer#footer
				.logo Pillars.js - make it easy!
				.legal
					.phrase Pillars.js is a modular and scalable framework for web development in Node.js
					.copyright ©2014 Javier Gallego Martín & Chelo Quilón (Just Married) & individual contributors
					.license MIT license


mixin layout(title,path)
	+base(title,path)
		#contents
			block

mixin reference-layout(title,path)
	+base(title,path)
		#sidebar

			nav#TOC

			nav#scopelinks
				h2 Reference index
				ul
					li: a(href="/pillars/docs/reference/entorno.jade") Entorno (ENV)
					li: a(href="/pillars/docs/reference/route.jade") Route
					li: a(href="/pillars/docs/reference/gangway.jade") Gangway
					li: a(href="/pillars/docs/reference/plugin.jade") Plugin
					li
						a(href="#") Librerías
						ul
							li: a(href="/pillars/docs/reference/i18n.jade") i18n
							li: a(href="/pillars/docs/reference/logger.jade") Logger
							li: a(href="/pillars/docs/reference/renderer.jade") Renderer
							li: a(href="/pillars/docs/reference/modelator.jade") Modelator
							li: a(href="/pillars/docs/reference/mailer.jade") Mailer
							li: a(href="/pillars/docs/reference/cron.jade") Cron

		#contents
			block





mixin tutorial-layout(title,path)
	+base(title,path)
		#sidebar

			nav#TOC
			
			nav#scopelinks
				h2 Tutorial index
				ul
					li: a(href="/pillars/docs/tutorials/instalacion.jade") Instalación
					li: a(href="/pillars/docs/tutorials/index.jade") Hola Mundo
					li: a(href="/pillars/docs/tutorials/confentorno.jade") Configuración del entorno
					li: a(href="/pillars/docs/tutorials/confentorno.jade") Añadiendo Controladores
					li: a(href="/pillars/docs/tutorials/confentorno.jade") Trabajando con Controladores
					li: a(href="/pillars/docs/tutorials/client-server.jade") Envío datos Cliente-Servidor
					li: a(href="/pillars/docs/tutorials/server-client.jade") Envío datos Servidor-Cliente
					li
						a(href="#") Bases de Datos
						ul
							li: a(href="#") Conexión
							li: a(href="#") Consulta
							li: a(href="#") Insercción
							li: a(href="#") Borrado

					li: a(href="/pillars/docs/tutorials/i18n.jade") i18n

					li
						a(href="#") Autenticación de usuarios
						ul
							li: a(href="#") htaccess 
							li: a(href="#") Mediante base de datos
					li
						a(href="#") CRUD
						ul
							li: a(href="#") Básico
							li: a(href="#") Multi-idioma
							li: a(href="#") Con seguridad


			
		#contents
			block