<div class="datepicker">
	<div class="inputsline">
		<label class="date-label">Date</label>
		<input type="text" ng-model="calendar.selection.year" placeholder="Year" class="date-year"/>
		<div class="select date-month">
			<select ng-model="calendar.selection.month" ng-options="m.key as m.name for m in months"></select>
			<span class="select-focus"></span>
		</div>
		<input type="text" ng-model="calendar.selection.day" placeholder="Date" class="date-date"/>
		<button ng-click="clearDate()" class="date-clear">Clear</button>
	</div>

	<div class="inputsline">
		<label class="time-label">Time</label>
		<input type="text" ng-model="calendar.selection.hours" placeholder="H" class="time-hours"/>
		<label class="time-dots">:</label>
		<input type="text" ng-model="calendar.selection.minutes" placeholder="M" class="time-minutes"/>
		<label class="time-tz">{{calendar.tz}}</label>
	</div>

	<div class="calendar">
		<table>
			<thead>
				<tr class="calendar-header">
					<th colspan="7">
						<span class="calendar-month">
							<span ng-click="calendar.prevMonth()" class="prev"></span>
							<span class="name">{{months[calendar.month].name}}</span>
							<span ng-click="calendar.nextMonth()" class="next"></span>
						</span>
						<span class="calendar-year">
							<span ng-click="calendar.prevYear()" class="prev"></span>
							<span class="name">{{calendar.year}}</span>
							<span ng-click="calendar.nextYear()" class="next"></span>
						</span>
					</th>
				</tr>
				<tr class="calendar-week">
					<th ng-repeat="wd in calendar.weekformat">{{weekdays[wd].name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(wk, w) in calendar.days" class="calendar-days">
					<td ng-repeat="(dk, d) in w" ng-click="selectDate(d)" ng-class="{'selected':calendar.isSelection(d),'today':calendar.isToday(d),'out':d.month!=calendar.month}">{{d.day}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>